[2020-10-12 07:13] Algalish opened #1 "Add Multiplayer support"

[2020-10-12 07:14] Algalish opened #2 "Add Rails support"

[2020-10-12 07:14] Algalish opened #3 "Add Fences support"

[2020-10-12 07:14] Algalish opened #4 "Add UI with a list of hotkeys"
The idea is to add a UI that contains all the keys that can be used in the mod.

[2020-10-12 07:15] Algalish opened #5 "Add UI with the current number of selected options"
See how many foundations you have selected in UI

[2020-10-12 07:16] Algalish opened #6 "Elevate ALL the foundations above ground"
A feature requested by comjar.

This will help building  your factories up in the sky without the need of building walls or anything else.

Probably the best to do it is by holding a 'E' button and scroll the mouse

[2020-10-12 07:19] Algalish opened #7 "The first foundations is always built twice"

[2020-10-12 07:23] Algalish opened #8 "Add SmartWalls"
A feature requested by **Rom1**.

[2020-10-12 07:26] Algalish opened #9 "Add double ramps support to the mod"

[2020-10-12 10:21] dabros opened #10 "Ability to change hotkey"
I use fly mode (area actions) to redo my mega factories, LOVE this mod, would love to be able to change the hotkeys though (specifically alt in my own case) to avoid conflict.

Other mods might have global hotkeys too, so good idea in long run even outside that specific case.

If in-game is too hard, a config file would also work great.

Thanks

[2020-10-12 11:31] Algalish commented on #10
@dabros  Yes, I will definitely do that once I take care of some urgent issues. But thats a complex task - many other mods lack this functionality.

[2020-10-13 13:57] SextonKing opened #11 "Semi-Opaque Direction Indicator Arrow?"
Just a faint glowing red or green arrow superimposed over the hologram block would really help to more quickly see at a glance which direction the block is currently oriented in so I know if it’s established correctly. Right now the block looks nearly the same in any orientation so I often have to spend a few moments each time checking the orientation before I can activate a build.

[2020-10-13 20:33] Algalish commented on #10
@dabros  Will it better for you if the hotkeys will "override" any existing hotkeys?
I mean if you are building a Smart Foundation and flying when you click Control you will not go down untill you confirm or exit the build. That can be easily done.

[2020-10-13 20:49] Algalish commented on #9
That does not look right to me.
![Screenshot_55](https://user-images.githubusercontent.com/1682176/95914595-a34af000-0dae-11eb-8faf-b43f16ff4304.png)

[2020-10-13 21:32] Algalish commented on #9
But this does

![Screenshot_56](https://user-images.githubusercontent.com/1682176/95918563-b496fb00-0db4-11eb-8aa2-1724a7331167.png)
![Screenshot_57](https://user-images.githubusercontent.com/1682176/95918566-b5c82800-0db4-11eb-99b6-b26fb177a94f.png)

[2020-10-13 23:55] #7 closed

[2020-10-13 23:55] #1 closed

[2020-10-13 23:56] #9 closed

[2020-10-13 23:56] #6 closed

[2020-10-14 12:57] Algalish opened #12 "The ability to change foundation type when building another type. Like scrolling through them or something like that"

[2020-10-15 20:56] SextonKing opened #13 "Can't Rotate Foundation Block Anymore [HOLD mode question]"
Ever since the update, the blocks are now fixed in one orientation and cannot be rotated at all. This mod can't be used until that's fixed.

[2020-10-15 21:00] SextonKing commented on #13
Also, can't seem to move the block once you set it. You have to completely cancel out of the foundation build and then re-start the process and re-place the block where you want it, then start all over. If you try to use the mod like it worked previously, it won't rotate and it won't move to another location with the build tool pointer. Basically the mod is broken now.

[2020-10-15 23:55] EricHamby commented on #13
Agreed, Cant rotate blocks since update.

[2020-10-16 00:36] Algalish commented on #13
@EricHamby @SextonKing
Hey guys!
This is actually a new feature called HOLD mode. You can fly around the foundation and preview the result instead of just blindly build. That mode also helps building in the sky.
Once you do something for the foundation - this mod turns on automatically.
You can always exit this mode by pressing "H" (Hold)

P.S. You should read mod update texts - I really try to ex

[2020-10-16 00:39] Algalish commented on #13
I will leave this issue open for people to vote about the need to leave this mode on automatically.

[2020-10-16 01:03] SextonKing commented on #13
Yeah, I DID read the documentation, which apparently wasn't very clear. The best way, at least IMO, is to leave a feature as an addition to what already works. The way you had the mod initially set up to work with SHIFT to hold and scroll wheel to rotate was fine. You've updated the text now on the mod page at Ficsit, but earlier it wasn't very clear at all. Thanks for clarifying.

[2020-10-16 01:08] SextonKing commented on #13
If you'd like to really tweak things to improve the mod, you could leave its core function alone for now and just fix the things that have already been reported as difficult, like the fact that you've assigned LEFT ALT as a width key but LEFT ALT is also the key on Pak Utility Flight Mode for descending. I can't use the function with the other mod solely because we can't reassign keys in your mod

[2020-10-16 01:22] Algalish commented on #13
@SextonKing  Thx for the feedback.
Since the mod is not "released" yet and is in its early development stage - that means that at any point some things may change for the better (at least a version of it that I think is best).
But turning hold mode automatically was not a very good idea and I will probably disable it in the next update. Several people at discord also suggested that.

btw what is t

[2020-10-16 01:48] kenjura commented on #13
Yeah, +1 to hold mode off by default. Or it should be toggled. For me, every time I place a foundation, it returns to "on". If it were globally on or off based solely on pressing H (or restarting the game, natch) that would work better, at least in my opinion. Still, amazing mod, absolutely essential.

[2020-10-16 02:07] duppypro commented on #8
+1. This is super useful and intuitive, doesn't unbalance the game.
Please add walls, windows, fences, pillars, conveyer and hypertube poles. I even wish I had it for storage containers, constructors, assemblers, foundries. What wouldn't you want to build smart with?

[2020-10-16 02:08] Algalish commented on #13
Have an idea: If the rotation will start working in HOLD mode, is this ok to leave it in automatic mode?

The logic of automatic mode  is simple: if you press shift or any other key by mistake and then let go - hold will not turn on.
But if you change something while holding a shift key or any other key - then it will be on.
So I think as long as rotations is working - this can stay like this.

Bu

[2020-10-16 02:14] Algalish commented on #8
@duppypro
Well said! What woudn't indeed.
There are many famous mods that allow you to do cool stuff. But even for myself its hard to understand all the tricks in them.  So the idea of Smart Foundations mod was  to build Smart but do it without thinking much - as you said : to make it intuitive. And quick too, without entering all the options.

I have big plans for all the things that you mentione

[2020-10-16 02:41] Algalish commented on #13
fyi: too many people asked about disabling this.  update 0.4.1 is uploaded and waiting a review from moderators.

[2020-10-16 04:03] EricHamby commented on #13
Sorry im at work and dont have the time to dig into the user guide but rotate is still working? Just different?

[2020-10-16 07:02] SextonKing opened #14 ""U" Button Step Up/Down Function Not Working"
Does nothing. Don't have it assigned to any other functions or mods. "E" works fine for the little incremental elevation adjustments, but the whole step-up-down option is nada.

[2020-10-16 08:40] dabros commented on #10
@Algalish - right now the conflict is with other mods hotkeys, so unsure if that would solve it there.

I was also thinking changeable since similar comments on other mods regarding people using custom key layouts themselves, so would solve both other mods and alternate key layouts.

Though if you what you mean is you capture any "alt","space",ect keys in your mod in a way that stops them propogat

[2020-10-16 08:44] dabros commented on #10
One outside solution is offer multiple  keybindings, with those kept but additionally numpad keys (+-./*ect) - though might still run into same issues if not cause more... especially since your mostly ui free (which i love, so simple and easy)

Ive coded in C/++/# but no experience with unity so cant say best way to implement some time of override feature (i am a fan of external config if ui too h

[2020-10-16 09:14] SextonKing commented on #14
Never mind, appears to be working again. Probably just a loading glitch that needed a restarted session.

[2020-10-16 09:14] #14 closed

[2020-10-16 15:03] Algalish opened #15 "Starting rotation is kind of random and disturbing"
Make rotation always point to the direction a player is looking.

[2020-10-16 15:53] DanzaDragon opened #16 "Unusable in Multiplayer - Causes client crash on foundation select"
Fantastic mod. Thank you so much for this! Although unusable for me in multiplayer! When hosting I can use the mod freely but clients crash when:

A foundation is selected from build menu
A foundation is eyedropped in game
A foundation is selected from the hotbar

The client can also have the mod when the host doesn't but that causes the same crash whenever they interact with foundations in any wa

[2020-10-16 15:59] Algalish commented on #16
@DanzaDragon  Thank you for your kind words!!

I fixed this bug today already but haven't uploaded the update yet.
Can I ask you to confirm that the problems is fixed before I release it? Here is the updated version.

Just reaname the file from .zip to .smod and you can use it and put it into your gam's mods folder.
[Smart_Foundations-0.4.2.zip](https://github.com/Algalish/SmartFoundationsPublic/f

[2020-10-16 17:28] DanzaDragon commented on #16
I can confirm that it now works for us! Thanks for the fast response 👍

We were 400 blocks apart this time and it worked just fine for both of us with no crashing!

[2020-10-17 02:09] jboulter11 opened #17 "Build configuration should be retained after placement"
I often want to place the same configuration multiple times and always have to dial in the size each time I place.

Would be easier if, after placing, the configuration didn't get cleared.

Use cases:
- Building a long path in chunks (like for a train track)
- Building a large floor for a factory in chunks

[2020-10-17 02:17] Algalish commented on #17
@jboulter11  Yes, that is a good idea. Some button like “R”(restore) will restore the last used configuration. Or even up to ten last configurations that can be obtained by pressing R multiple times.

[2020-10-17 09:56] ngppgn opened #18 "Add ability to use arrow keys to extend foundations"
Since the alt key is used in other mods, but the arrow keys seem pretty much unused, it might be interesting to enable them as an alternative way to shring/enlarge foundations. e.g. "up" enlarges and "down" shrinks along x axis while "left" enlarges and "right" shrinks along y axis.

[2020-10-17 09:58] ngppgn opened #19 "Ability to snap foundation to cardinal points"
For the more ocd/aesthetic-minded folks, it could be interesting to have the option for the foundations to be oriented exactly towards the cardinal points. Another mod has special foundation items just for that functionality, but it'd be nice if it was added to the regular foundations.

[2020-10-18 12:21] Algalish commented on #19
@ngppgn  Can you give me the name of that mod so I could have a look?

[2020-10-19 03:44] Algalish commented on #16
updated in 0.5.0

[2020-10-19 03:44] #16 closed

[2020-10-19 03:44] Algalish commented on #3
done in 0.5.0

[2020-10-19 03:44] #3 closed

[2020-10-19 03:44] Algalish commented on #8
done in 0.5.0

[2020-10-19 03:45] Algalish commented on #18
@ngppgn  done in 0.5.0

[2020-10-19 03:45] #18 closed

[2020-10-19 03:46] Algalish commented on #10
I added an alternative input with arrow keys insetad of Shift+MouseWheel or LeftAlt+MouseWheel. That should be enough for now.

[2020-10-19 03:46] #10 closed

[2020-10-19 07:11] dabros commented on #10
@Algalish - thanks, ill try it out when i get home

[2020-10-19 19:12] Rosuav opened #20 "Smart Foundations can clip through things where Dumb Foundations can't"
If there's a building below you that extends up into the level you're on, you can't build normal foundations:
![Screenshot20201020-06070100000](https://user-images.githubusercontent.com/640535/96500738-08b14c00-129b-11eb-9515-c6fa5dcdc09b.png)

But you can use this mod to build foundations right through there - as long as you start somewhere that's legal:
![Screenshot20201020-06071400000](https://

[2020-10-19 19:13] Rosuav commented on #20
Also, that sticking-up thing is TOTALLY a tripping hazard. For the sake of the Engineer's safety, we must not let this happen! Kappa

[2020-10-19 19:25] Algalish commented on #20
@Rosuav  You are absoulutely right. Since the mod was just an experiment in the beginning Ficsit Safety Department allowed us to do so but this is got to end now.

The mod is suppose to be non-intrusive and non-cheating so if someone wants to overlap things or build inside oher things... well.. they should not be allowed to do so.

Will be fixed in the new update.

[2020-10-19 19:40] Rosuav commented on #20
Thank you. Your efforts will be noted in the Trans-Universal Engineer Safety Delegation Activists Yearly; the day that the engineer tripped and fell to her death was a defining moment in her career, but for the author of the mod, it was TUESDAY.

[2020-10-22 04:08] Algalish opened #21 "Add walkways to the mod"

[2020-10-22 20:37] AntoineVanderMeulen opened #22 "Add a support for FoundationIndustries"
The support of this mod will be perfect

[2020-10-24 19:31] DesktopMan opened #23 "Add support for stackables"
These would be great:

* Stackable Conveyor Pole
* Stackable Pipeline Support
* Stackable Hyper Tube Support

[2020-10-25 03:22] Algalish commented on #23
@DesktopMan  I was thinking about it this week too. And you know what would be even better? Stackable belts! When you Have for example Stackable Conveyor Pole with the height of 5. and when you point to the lower pole and Shift+MouseWheel then you have all 5 belts ready to be built. Same with pipes. Because what is the point of building big Conveyor Poles if you can't build smart belts right?

[2020-10-25 03:23] Algalish opened #24 "Add support for MoarFactory walls and foundations"

[2020-10-25 06:30] Algalish commented on #11
@SextonKing
Does this arrow look OK to you?

![Screenshot_5](https://user-images.githubusercontent.com/1682176/97100427-94b0e280-16a4-11eb-879b-64de62df6539.png)

[2020-10-25 18:37] SextonKing commented on #11
Yeah, that works fine. It looks better than my original suggestion actually, because your way the arrow can be seen clearly apart from the build hologram and won’t get lost in the flicker of the build image.

[2020-10-26 21:45] Algalish commented on #8
Juju from Youtube said that walls are not working in MP. Will investigate this.

[2020-10-27 08:37] Algalish commented on #23
@DesktopMan  Implemented in V6

[2020-10-27 08:37] #23 closed

[2020-10-27 08:38] Algalish commented on #8
fixed for MP

[2020-10-27 08:38] #8 closed

[2020-10-27 08:39] Algalish commented on #20
@Rosuav  This is done in V6

[2020-10-27 08:39] #20 closed

[2020-10-27 08:39] Algalish commented on #11
@SextonKing  Implemented in V6

[2020-10-27 08:39] #11 closed

[2020-10-27 08:40] Algalish commented on #21
done in V6

[2020-10-27 08:40] #21 closed

[2020-10-27 11:49] Algalish opened #25 "Allow sprinting whyle using the mod"

[2020-10-27 14:25] Algalish opened #26 "Add regular ramps, not just double ramps"

[2020-10-27 17:39] ZoltanDalmadi opened #27 "Crash with the new 3.5 experimental update"
The game crashes immediately when selecting any foundation from the build menu (or hotbar) with the just released 3.5 experimental update.

I'm using the Steam version.

Stack trace:
[code]

[2020-10-27 18:12] DanzaDragon commented on #27
Can confirm I get the same crash, for host and client when interacting with any foundation since the update. May have something to do with changed foundation and wall behaviour with electric cables now auto turning into wall/ceiling sockets when hovering over them.

Crash also happens with walls.

[2020-10-27 18:47] ibrahimloubani commented on #27
I got the same crash also.

[2020-10-27 19:40] lombare commented on #27
I got the same crash too.

[2020-10-27 20:13] louis71barker commented on #27
I get the same error too, stack trace looks to be the same as other. Soon as you try and select any foundation it crashed the game to desktop.

[2020-10-27 20:22] iMasonite commented on #27
Can confirm, also with eye dropper.
build Experimental CL#134641

[2020-10-27 21:05] bandycj opened #28 "Adding stackable poles requires two clicks and results in slightly twisted placement"
When trying to add a stackable pole to an existing stack, the hologram initially lines up but after the first click it twists slightly. No matter how you rotate, it will never line up with the stack it's on.
![smart-foundations-bug](https://user-images.githubusercontent.com/165983/97361842-2750ad80-186e-11eb-8bd7-c2db7609e6d4.jpg)

[2020-10-27 21:49] Tumblerino commented on #28
I confirm this issue is also present on my game.

[2020-10-28 01:18] Algalish commented on #28
@Tumblerino  @bandycj  got it, will take care of that

[2020-10-28 01:20] Algalish commented on #27
Yep, I got it. Will fix it in the next 24 hours.

[2020-10-28 01:45] Rosuav commented on #20
Can confirm, it is no longer possible to build foundations through one's HUB. This is a great boon to the HUB-dwelling insects of Massage-Whatever-This-Planet-Is, as they no longer need fear having concrete magically inserted through their carefully-constructed homes. On their behalf, and on behalf of all sane people in the world, I thank you.

(I can represent sane people without being one, right

[2020-10-28 03:35] BinaryConstruct commented on #27
Thanks for prompt response. Also, great mod!

[2020-10-28 06:15] Rosuav commented on #15
The latest update has an arrow showing the direction. It's now a little more intrusive (you KNOW that you have the mod active), but I think it's a good thing. Helps to know which way shift and alt will work.

[2020-10-28 06:19] Algalish commented on #15
@Rosuav  I think that apart from its primary function, knowing that the mod is active is a good thing. Yep, without this arrow you could spend extra time finding out where the foundation is pointing at.

[2020-10-28 06:34] alfons234 opened #29 "Repeatable Keypresses"
First of all, it's a really great mod, even one of the best out there! I really appreciate it.
Unfortunately one can't customize the key bindings for the different actions which is a great pitty since not everyone has a keyboard with an english layout.
At least the arrow keys are a somewhat replacement for that, but could you please add repeated keystrokes to them? In a way that after pressing the

[2020-10-28 06:38] Algalish commented on #29
@alfons234  arcade game from the 80ies )))
Sure man, will add this ability.

[2020-10-28 08:30] Rosuav commented on #15
Agreed. :+1:

[2020-10-28 08:57] TSGPL opened #30 "Frequent Freezes"
So After i Placed like 20 foundations at once there have been constant freezes in that area, but when i got farther away the freezes dissapeared.
Edit: restarting the game doesnt fix it. removing the foundations also doesnt fix it.

[2020-10-28 09:16] #30 closed

[2020-10-28 09:18] Algalish commented on #30
@TSGPL  You closed the issue: so is that problem solved somehow?

[2020-10-28 11:59] DanzaDragon commented on #27
Legend! Your mod has let me play Satisfactory again. I had to stop playing due to RSI issues from clicking many thousands of times just to place walls/foundations as I love building up and making large factories and your mod saved me so much hassle.

Thanks again 👍

[2020-10-28 12:33] SextonKing opened #31 "Please Restore Collision-Ignorant Building Ability"
Your mod was great, but then you removed this ability and claim it was a 'cheat.' It was not. It was a useful function for restoring structures in some areas that already had other items built without having to completely dismantle and lose all that work just to edit a single aspect of a build.

It would be appreciated if you would simply restore this ability. It allowed me to re-floor some crucia

[2020-10-28 12:57] SextonKing commented on #31
Here, I want to just try and give you some real-example idea of what I'm talking about.

I *just* started this first mega-base build, my first one ever, yesterday. I designed it and discovered after getting the main base put together that the conveyor lifts for the item dispensers would be clipped by the internal walkways as you can see in the first pic. This first pic, by the way, was the last th

[2020-10-28 12:57] Algalish commented on #31
@SextonKing
I understand that you are a bit angry about this change and don't actually mean everything that you wrote so I will not take anything  personally.

1) So, this feature will be brought back as an option in the next update. You will be able to turn it on.
2) I did not make this discussion by myself. Several people requested it here and on discord so thats why this change happened. And I

[2020-10-28 13:00] SextonKing commented on #31
Thank you, none of this was meant personally of course. But in your video you called it 'cheating,' which I admit I took some offense to. And while I appreciate some other people felt differently, there is no 100% consensus to anything in this game, that's why it's so great when people give US the options to choose which way to play it. Really appreciate you hearing me out.

[2020-10-28 13:01] SextonKing commented on #31
I hope you please accept my apology for anything that came across as rude. It is actually a testament to how great a mod you've made here that it has already become so indispensable and integral to my thinking of how to approach builds in this game. I have also had a lot of real-world awfulness and "Satisfactory" has been just about my own peaceful outlet to relax, so this one change alone really

[2020-10-28 13:06] SextonKing commented on #31
Just an FYI: in the Mod manager, it doesn't let you change what version to install, it only has one listed (the current one). I'm not sure if that's what you meant by being able to revert to the previous version in the manager, but that's the only option I could find and it's greyed out.

[2020-10-28 13:11] SextonKing commented on #31
NVM, found it. Thanks again.

[2020-10-28 13:12] Algalish commented on #31
@SextonKing  Its all good man, I understand.

Yes, in some of the games there are "cheaters" who make other people feel bad by making their position in game better without doing anything to gain it. But Satisfactory was never about competition so I use this word to something that changes the game process in a way that you were never able to change without mods.
So I can understand why you were off

[2020-10-28 14:04] ItsDaRa opened #32 "Hold feature sometimes acts weirdly"
So as discussed on Discord, sometimes while aiming at different/far position the Hold feature disappear and display a 'invalid aim" error.
Please see here :
https://streamable.com/agjq8h

[2020-10-28 18:00] stevown commented on #27
Great mod. Maybe a little TOO great. Can't play the game without it :). Actually holding off playing experimental because this mod is so good. Great work, and thanks for jumping on this.

[2020-10-29 00:35] Rush188 commented on #27
[https://www.youtube.com/watch?v=gzKAut3sVrw](url) :)

[2020-10-29 06:56] Rosuav commented on #27
Can confirm that 0.6.1 works on Experimental. Looking good.

[2020-10-29 07:25] Algalish commented on #31
@SextonKing  I released an update but it does not bring any new features and only intended for users that are on Experimental version of the game: with pipes update. The ability to build through stuff will  be back in the next update. And it will also be only for experimental. But let me know if you are staying on normal version and not experimental and I will build a special version for you.

[2020-10-29 08:15] Algalish opened #33 "Problem with stackable supports from JS's video https://youtu.be/0nY7IFQpZmk"

[2020-10-29 10:12] Totomio commented on #27
Fixed ! Thank you ! Great mod !

[2020-10-29 10:18] Algalish commented on #27
okey, I am closing the issue

[2020-10-29 10:18] #27 closed

[2020-10-29 11:17] SextonKing commented on #31
I was planning on staying in Early Access and wait until they released the changes into that rather than all the additional bugs in Experimental. But don’t go to special trouble for me.

[2020-10-29 16:18] ItsDaRa opened #34 "Request for adding Quarter-Pipes vanilla foundation"
All in the title :)
Thank you very much #

[2020-10-30 16:57] Jumbo-storm opened #35 "Numbers. [Number of fandations and ramps for exemple. No video, sorry:(.]"
Featrue/Suggestion/QOL:
Can you add a feature so you can see how many platforms or ramps you have built, for example.

Why there is no video, (not (equally) important):
(I'm on the wrong computer. That's why I did not upload any video.
(I can not even record a video for OBS Studios screen turns black, so you will hear me but not see anything.)
That's why I did not upload any video.)

[2020-10-30 16:58] Jumbo-storm commented on #35
Video is coming soon TM.

(Video is coming next next week. Or on next weeks friday or later. It depends on whether I remember it or not.)

[2020-10-30 20:13] kenjura commented on #28
Hi, I'm having the same issue. It's not always a slightly twist, and basically makes stackable pipes and hyperloops unusable in the current patch.

It seems like the latest patch of Smart Foundations is for the experimental build, which I guess will take several weeks to merge to Early Release. Is it possible to see a patch for this issue before then? Or should I just switch to experimental? Thank

[2020-10-31 01:26] Tumblerino commented on #35
I actually sendt you a message on discord so i could help you out by donating towards to mod, since its LITERALLY UNPLAYABLE without smart foundations anymore.

[2020-10-31 07:26] Algalish commented on #35
Hmm, no new messages for me. Can you send it again:   Algalish#1046  ?

[2020-10-31 07:45] Algalish commented on #28
@kenjura  Its too compicated to support both normal and experimental version now so I will probably be releasing updates only to the experimental. So I really suggest switching to experimental, since the new update brings nothing but good stuff and other mods are already updated to it - so there should not be any problems.

I cannot reproduce this bug in experimental game btw.

[2020-10-31 11:53] Algalish commented on #28
@kenjura @Tumblerino @bandycj

I see this problem too. I always play with Options->Gameplay->"Exceute Build steps on release" on and thats why I haven't noticed that problem. I will work on a fix later today.

[2020-10-31 13:10] Algalish commented on #28
@kenjura @Tumblerino @bandycj  Can you please confirm that this bug is gone in this version? Thank you
P.S. just rename the .zip to .smod , put it into the mods folder and and dont forget to remove the existing version from there.
[Smart_Foundations-0.7.0.zip](https://github.com/Algalish/SmartFoundationsPublic/files/5469115/Smart_Foundations-0.7.0.zip)

[2020-10-31 22:32] kenjura commented on #28
The 0.7.0 version doesn't seem to have the problem in EA, although the mod itself was disabled along with a message saying it didn't work in Exp. I can also confirm that the bug isn't present in Exp with 0.6.2.

[2020-11-01 18:23] kenjura commented on #28
Spoke too soon...I can still see it in Exp with 0.6.2. I start with a stackable pipeline, which aligns normally. I put another stackable pipeline on top, which rotates out of place. Same happens with stackable hypertube supports, but stackable conveyor supports don't have the problem.

[2020-11-01 18:35] yBO-sentix opened #36 "Stopped working"
Since the last Update the mod doesn't work at all anymore in my case. I can rotate the tiles but i can't place more then one at the same time

[2020-11-01 21:47] Algalish commented on #36
hey @yBO-sentix . I am more then certain that this is bacause you are using the latest version of Smart Foundation but not using the latest version of the game (from experimental,  the pipes update).  I wrote a message about it in mod description but maybe you missed it.  you need to use version 0.6.0 and not 0.6.2 and it will work for you.

[2020-11-01 21:54] yBO-sentix commented on #36
this will could be the thing, because i don't use the experimental version. Thank you for your information, i will try

[2020-11-01 21:54] #36 closed

[2020-11-02 04:34] AdastormVproI7 opened #37 "Unable to launch"
I am unable to launch the mod on version 0.3.6.

[2020-11-02 05:47] Algalish commented on #37
Hey @AdastormVproI7 ! What problem are you experiencing with the mod? Are you using Steam or Epic games version of the game?  Are you using version 0.6.2 of the mod?

[2020-11-02 05:50] AdastormVproI7 commented on #37
Thanks for the quick reply! I'm using steam (not the experimental build), and the 0.6.2 version of the mod. Whenever I try and launch with the mod installed, it crashes, pulls up the unreal crash response window, and then reopens the game, but with no mod.

[2020-11-02 05:55] Algalish commented on #37
Ah, you are using a non-experimental build. You need to use version 0.6.0 of the mod for now. I also mentioned that in the mod update description with big letters. But you are not the first to ask about it - about 30 people already did that. So in the next update I will be adding this nice popup at game start for users that will be installing next version on non-experimental version of the game.
T

[2020-11-02 05:55] AdastormVproI7 commented on #37
Thank you so much!

[2020-11-02 06:00] AdastormVproI7 commented on #37
The reason it was so hard for me to understand is that when I used the SMM, it said that there were no previous version of the mod available

[2020-11-02 06:04] Algalish commented on #37
@AdastormVproI7  Yea, several people reported that problem with SMM and I am not sure how they figured it out. For me previous versions are available so thats strange. btw: if you put the mod in the mods folder manually and then run the game from SMM: it can  overwrite the mod by itself

[2020-11-02 10:54] Algalish commented on #28
@kenjura  I have some urgent things in life that require my attention so I was not able to update the mod yet. But take a look at version 0.7.0 that I uploaded in my previous message: you can install it manually and stackable pipelines will work 100%.

[2020-11-02 20:38] kenjura commented on #28
No worries, not expecting anything, just wanted to give you whatever info would be helpful. I tried 0.7.0 in Exp and it seems to work just fine!

[2020-11-03 05:13] Tumblerino commented on #28
Helçp Agalish, i've tested it, removing all previous versions and the problem is still present.

[2020-11-03 10:32] Algalish commented on #28
@Tumblerino  Hey! Can you cantact me at discord Algalish#1046 so we could figure it out?
I just learned that you cannot see incoming message from people that are not in your friend list or not playing on the same server. so add me as a friend first.

[2020-11-08 15:42] CAGalvez commented on #24
Hello, and good day to you, Algalish.

I absolutely love your work with Smart Foundations and am happy to see you are planning to integrate MoarFactory walls and foundations.

Would you be willing to also include the PGlassS and maybe other items listed under the Factory category? And maybe the other categories like Doors, Stairs, Parts?  That would be so awesome if you could :-)

I've been workin

[2020-11-08 16:23] Algalish commented on #24
Hi Carlos!

I am glad that you like the mod!
Yes, I can support more stuff from MoarFactory.
I plan to have an update for the mod tonight, so will probably include it in this update if it will not take a lot of time. Yep, thats the kind of service you get with Smart Foundation  ^^

@CAGalvez

[2020-11-08 16:26] CAGalvez commented on #24
Wow!  That would be awesome!  Quick question for you, I am not in the experimental branch; I am on the Early Access 131382.  Will that make a difference with your planned update?

[2020-11-08 16:36] Algalish commented on #24
@CAGalvez  Actually yes, the latest updates are only working on experimental. But its about a few days till the update hits the Early Access and once it does you will be able to use the mod right away. And since the version of the game will be 100% to the one that is currently in experimental you can already switch to experimental. All the popular mods are already updated to it

[2020-11-08 16:49] CAGalvez commented on #24
Algalish, that is even better news!  I was not sure how much longer it would be for that.  I will go ahead and switch to the experimental branch.
Unless I missed it, I did not notice a link for donations on the SMM descriptions. Have you considered adding one?
-C

[2020-11-08 17:02] Algalish commented on #24
@CAGalvez  I just created it recently so forgot to add it to the mod page: https://www.patreon.com/Algalish
With Patreon you don't have to make donations every month and can just make a one time donation by just cancelling the subscription right away.
Thank you in advance!

[2020-11-09 21:01] PeterSoder opened #38 "Disable/config Arrow keys"
Since I'm lefthanded i use the arrow keys to move, would be nice if I could switch to using the wasd keys to size up the build.
As it is it makes it impossible to move when building/placing foundations.

[2020-11-09 22:47] FerosNS opened #39 "(Experimental) Builds duplicate foundations when elevating, stepping up/down does nothing"
Holding **E** and using the scroll wheel to change elevation will build two walls/foundations. One will be where you're aiming, the other will be placed at the elevation you're trying to place it.

Holding **U** and using the scroll wheel does absolutely nothing noticeable.

Since multiple mods were installed, I removed all but Smart Foundations to make sure there were no other conflicts first.

[2020-11-10 13:36] Algalish commented on #38
Hi @PeterSoder
Changing keys should be available next week.

[2020-11-10 13:42] Algalish commented on #39
Hi @FerosNS !
1) Yes, this is actually a known problem. Will try to fix it in the upcoming updates. But it may not be a bug 100% since it helps you look where the original foundation is placed to understand where the original location of the foundation is. So maybe it is a good idea to show it but just not build it.

2) Will check it later today.

[2020-11-10 14:57] Algalish commented on #39
@FerosNS

for U to work you have to have a foundation with more then one element. it works like that:
![Screenshot_38](https://user-images.githubusercontent.com/1682176/98690588-25aedb80-237e-11eb-94c7-27c6385682d6.png)

[2020-11-10 20:32] FerosNS commented on #39
Ah that's where I went wrong with the step function! Didn't realize it did it with multiple foundations.

The major reason why I figured the duplicate placing with elevations was an issue is that trying to elevate over an obstacle (or in my case under while I was trying to build walls) would prevent me from placing a piece at the desired elevation as it would be considered encroaching on something

[2020-11-11 03:17] Algalish commented on #34
@ItsDaRa  done in V7

[2020-11-11 03:17] #34 closed

[2020-11-11 03:17] Algalish commented on #26
done in V7

[2020-11-11 03:17] #26 closed

[2020-11-11 03:18] Algalish commented on #25
done in V7

[2020-11-11 03:18] #25 closed

[2020-11-11 03:19] Algalish commented on #28
@bandycj  @kenjura

It is fixed in V7 and I am closing this issue. If someone can still reproduce it - please let me know with a video and steps to reproduce

[2020-11-11 03:19] #28 closed

[2020-11-11 03:20] Algalish commented on #37
experimental and early access have the same version now. closing the issue

[2020-11-11 03:20] #37 closed

[2020-11-11 07:03] wchenaf opened #40 "3D smart evreything?"
Since now you have done the P for spacing, is it possible to add the third direction for smart building especially for stackable poles?

[2020-11-11 07:08] wchenaf commented on #40
And I wonder if you feel like sharing your source code. I feel itchy to start modding and make your mod into “smart building” working for splitters😬😬

[2020-11-11 15:03] Algalish commented on #40
@wchenaf  Yea, third direction is a good idea and I am thinking about it. Do you have an idea for a key that would be good for the third dimension? Probably Ctr. So it will be Shift for X, Alt for Y and Ctrl for Z.

Take a look at my latest video: there is a secret spoiler about Smart Buildings ;)
They will probably be in the next update.

And take a look at another spoiler for Smart Splitters. As

[2020-11-11 15:11] Algalish commented on #40
As per source code: at first I thought that I was going to open it up for public but after spending more than 10000$ worth of my time working on the mod I don't feel the same way anymore. My apologies for that  but I will be honest with you:  I plan to take a monopoly for making all the buildings "Smart" in game. Of course you can try to do it better if you like, it's a free world. But there are s

[2020-11-11 15:12] Algalish commented on #40
@wchenaf
As per source code: at first I thought that I was going to open it up for public but after spending more than 10000$ worth of my time working on the mod I don't feel the same way anymore. My apologies for that but I will be honest with you: I plan to take a monopoly for making all the buildings "Smart" in game. Of course you can try to do it better if you like, it's a free world. But ther

[2020-11-12 18:55] TRPB opened #41 "curved foundations?"
Firstly thanks for this, it makes the game much more enjoyable. Would it be possible to also enable this for the curved foundations you can buy in the shop?

[2020-11-13 04:10] Algalish commented on #41
@TRPB  Thank you!
Yep, will add them for you in the next update

[2020-11-13 15:37] SextonKing commented on #31
Really excited to see when the next update comes out with the “ignore collision” ability. Truly will come in handy now that the latest stable Early Access is running. The new hotkeys for orientation are excellent.

[2020-11-13 16:39] DesktopMan opened #42 "Add information display"
A small text window in a corner with the following information would be very useful:

* Dimensions of what you are building in number of buildings
* Dimensions of what you are building in meters
* Lowest elevation of what you are building in meters
* Highest elevation of what you are building in meters

The display could be expanded with more information as deemed useful. This is the idea I pitche

[2020-11-14 05:19] Algalish opened #43 "Smart Assembler spacing is too small and splitters will not snap"

[2020-11-15 07:41] Algalish commented on #42
@DesktopMan  As a start we can show the dimensions in the top right corner as per this screenshot.  This will be shown ONLY if we changed the dimension from 1x1 to something else.
Maybe the format can be changed in settings since not everyone will need size in meters and elevation.
Or maybe one of the formats will be a long one with all the data.

![Screenshot_1](https://user-images.githubusercont

[2020-11-16 12:10] Kubrix opened #44 "Arrow direction not the same as building direction."
See this video:  https://yadi.sk/i/tTat2FbefvVCXQ
Arrow point forwards, foundations build to the right

[2020-11-18 05:34] Algalish commented on #44
Hi @Kubrix  I think that when snapping to other buildings the rotation did change by itself (yes, that happens sometimes) so it changed the direction.    I haven't seen any arrows after snapping but pretty sure that arrow is pointing to the right now.

[2020-11-19 22:44] CoolHandDevil505 opened #45 "Crash on exit"
Hi, and thank you for this great mod, saving me from index arthritis!

I have a crash when exiting the game, with only your mod installed… No mod, no crash like Bob sang ;-)

[SF_crashonexit.txt](https://github.com/Algalish/SmartFoundationsPublic/files/5570153/SF_crashonexit.txt)

Have a great day!

[2020-11-22 06:21] Algalish commented on #31
@SextonKing It is finally done! In the new update you can switch this feature in settings. My appologies for this enormous delay with that feature.

[2020-11-22 06:21] #31 closed

[2020-11-22 06:21] #43 closed

[2020-11-22 06:22] Algalish commented on #13
@SextonKing  @EricHamby  Auto-hold mode can be turned on in settings . this time with arrows is so easy to use. point, rotate and then start doing stuff and it will hold. let me know if you guys like it or what I need to improve.

[2020-11-22 06:22] Algalish commented on #5
settings screen is added to V.8

[2020-11-22 06:22] #5 closed

[2020-11-22 06:23] Algalish commented on #12
this is not easy so I am closing this for now

[2020-11-22 06:23] #12 closed

[2020-11-22 06:24] Algalish commented on #35
@Jumbo-storm  @Tumblerino  This is done in V.8

[2020-11-22 06:24] #35 closed

[2020-11-22 06:25] Algalish commented on #42
@DesktopMan  First version of that is done in V.8 but it will evolve and I will add more infor there as you asked

[2020-11-22 06:25] Algalish commented on #44
I think my explanation above solves the issue so I am closing it

[2020-11-22 06:25] #44 closed

[2020-11-22 06:25] Algalish commented on #33
it was already fixed in V.7

[2020-11-22 06:25] #33 closed

[2020-11-22 07:08] Algalish opened #46 "Add arrows to walls."

[2020-11-22 07:24] ithras opened #47 "Support for Mk++ mod machines?"

[2020-11-22 07:26] Algalish commented on #47
@ithras  yea, will definetly add them.

[2020-11-22 10:07] Algalish opened #48 "Add a chat command to open settings because FactorySkyline consumes the R key"

[2020-11-22 11:55] sidoitsu48 opened #49 "foundation z-axes build direction missed"
Thanks for your mod.

Building in x, y direction with your mod is really cool but I miss switching plane to build in x, z or y, z direction for fundations. Building a pillar is currently not possible and I do not mean your elevate function.

[2020-11-22 12:02] swent opened #50 "Add support for fuel generator and the new packager building"
First of, thanks so much for this great mod, I guess its one of the only reasons I still keep playing since otherwise building huge factories would be too time consuming.

I would appreciate support for fuel generator and packagers.

And while we're at it, maybe even water extractors (but I don't know if thats gonna be a problem since individual placment in deep water is required).

Thanks again!

[2020-11-22 12:03] Algalish commented on #49
@sidoitsu48  you mean a pillar of foundations right? because you have also smart! pillars

I will add Z in next updates 100%. probably shift+alt together.

[2020-11-22 12:05] Algalish commented on #50
@swent  Thx for your kind words.
Yea, I totally forgot about the fuel generator. Although packager is not in the video - it should be supported already.
As per water extractors : it would be marvelous to build them too but I was not able to implement that in this update. Will definetly do it later.

[2020-11-22 12:43] PeterSoder commented on #38
Sad to see that it didn't make it into .8, unless I missed something

[2020-11-22 13:15] swent commented on #50
@Algalish is there a way to directly support you via paypal instead of patreon?

[2020-11-22 13:18] Algalish commented on #50
@swent  sadly in my country it is not easy to setup a "paypal donation link" due to some regulations. but you can send me a direct paypal transfer to my email me@algalish.ru if that works for you. thank you!

[2020-11-22 13:20] Algalish commented on #38
@PeterSoder  I spent a lot of time working on the UI and only implemented major settings. I don't like keeping false promises but you can expect this to be done in the next update that will probably be out around Wednesday.

[2020-11-22 15:36] PeterSoder commented on #38
No worries, I really like your mod and appreciate your work.
Thanks for the update.

[2020-11-22 15:56] Algalish commented on #24
@CAGalvez
I hate making false promises especially personal ones.
But here we are 2 weeks later and V.8 still does not have MoarFactory support.
I will try to do it in the next update that should be out in 3-4 days from now, but I am not 100% that will be able to do it. Anyway, just want to say that this issue is not forgotten by me.

[2020-11-22 16:53] therodet opened #51 "Suggestion: Arc/Circle construction"
Would love to see an option to place foundations and walls in a curved/arced pattern, possibly with the option to toggle whether the inside or the outside edges of the patterned objects stay connected (Outside would result in overlapping, inside would not). A google image search of "satisfactory platform circle" will show what I mean if not clear. Would be great for road and railway paths, or just

[2020-11-22 17:48] vinnyviking opened #52 "Suspeted crash during auto save"
Hi,

I am building long line of singe wide foundations (100*1). Most of the time this works OK but when I have this line selected and an autosave occurs the game xcrahces.
[FactoryGame - Copy.log](https://github.com/Algalish/SmartIssueTracker/files/5579947/FactoryGame.-.Copy.log)

[2020-11-22 18:15] jmigual opened #53 "Buidling construction not working for multiplayer client"
Hi, many thanks for this mod, it is amazing.

Here's an issue that we found while playing on multiplayer:

If the client tries building multiple buildings like constructor, assembler, manufacturer or smelter, the game only ends up building the one that was initially meant to be build and not all the ones.

[2020-11-22 21:24] bakes82 opened #54 "QOL - Lower arrow on foundations"
When placing a foundation can the directional arrow be lowered, sometime when youre close up you cant see what the direction is.

[2020-11-22 23:05] InsomniacSoftware commented on #54
I second this request.  I have this issue all the time.

[2020-11-22 23:07] InsomniacSoftware opened #55 "Add support for Smart Water Extractors"
I just got the v8 update and love the idea of Smart Buildings.  Please add support for the Water Extractors.  Thanks

[2020-11-23 04:54] Algalish commented on #53
@jmigual  oh man, I completely forgot to add the multiplayer compatibility for smart buildings.
originally it took more then 60 hours to make multiplayer work (I know, right?)
but adding new buildings to multiplayer is like a few lines of code now.

[2020-11-23 08:30] Algalish opened #56 "Add sPacing information to UI"

[2020-11-23 08:30] Algalish opened #57 "Add Smart! logo on compatible items or on screen"

[2020-11-23 10:47] SextonKing opened #58 "Editable Menu Key Option in Settings?"
Typing “smart smart” is fine but has been a little irregular in actual play. Sometimes I type it and get the menu fine, about 3 out of 5 tries it just activated the clap emote and did nothing.

Could we have the option to assign a more simple menu access key in the settings please? If I could just hit a key I never normally use like ‘[‘ or something, would make it a lot easier to just access the m

[2020-11-23 10:51] Algalish commented on #58
@SextonKing  well I thought about adding a chat command since a lot of people were not able to open setting because of other mods that use key bindings.

Regarding custom key: I thought that there is no need to go into settings often so no need to have a special key for that. but you are probably changing the ability to build through other buildings off and on right?

[2020-11-23 13:39] SextonKing commented on #58
A chat command would be cool, similar to the Permaday or Pak mod commands. Yes, I access the settings to turn on the collision-ignorant option. But in general, for trying out different settings for a given occasion, a quick one-key way to open the menu would be easier, especially since letters like ‘t’ conflict with the Emote functions in the core game.

[2020-11-23 19:14] Algalish opened #59 "Feet dont extend for buildings and they are stick mis-air"

[2020-11-24 05:48] Algalish opened #60 "change P default spacing in settings"

[2020-11-24 14:52] Algalish commented on #52
@vinnyviking  sorry, forgot to reply right away.

will investigate this but not sure if there will be a quick fix. to many factors that can cause this(

[2020-11-24 14:53] Algalish commented on #45
@CoolHandDevil505  sorry for not replying right away. some people say that this crash is normal in general and is not related to a mod. but I will definitely have a deeper look at that

[2020-11-24 18:07] CoolHandDevil505 commented on #45
Ok thanks!

[2020-11-25 10:38] Algalish opened #61 "Add Smart! containers"

[2020-11-25 11:12] jmigual commented on #53
Thanks! Nice to know that you prepared in advance so adding multiplayer would be easier

[2020-11-25 17:43] Shad0wlife opened #62 "[Request] FoundationIndustries Compatibility"
Hey, since you seem to add compatibility with popular foundation mods in here, would you mind taking a look into [FoundationIndustries](https://ficsit.app/mod/FDbifQ2WdwJaQB)? If it's not already supported that would be great!

Thanks for this amazing mod!

[2020-11-25 17:49] Lordnms opened #63 "Crash With Version 0.9.0 on multi-player game"

[2020-11-25 17:51] Lordnms commented on #63
Hi
I have the problem when my freind Hosts a Game and I will join him that my Game crashes
When we remove your Mod i Can join and play

[2020-11-25 18:07] Barryt06 commented on #63
Hi,

Having the same issue.

![image](https://user-images.githubusercontent.com/1630560/100265992-f933bb80-2f48-11eb-9d4f-60f0c579c844.png)

Downgrading to 0.8.0 on both host and client fixed it.

[2020-11-25 18:46] Lordnms commented on #63
OK this works for us too thx

[2020-11-25 21:14] Shad0wlife commented on #53
As already informed on discord, here the additional info that multiplayer seems to have broken (client crashes on join) with v0.9.
Thanks for your effort.

[2020-11-25 21:16] Shad0wlife commented on #63
Well, if I had refreshed the page, I could have avoided the duplicate comment in #53 . Oops.

[2020-11-26 01:49] nclow commented on #42
Looks pretty slick, but for me on 136408 with 0.9.0 the game's build number overlaps the information from Smart

https://imgur.com/a/gDiEcrJ

[2020-11-26 02:28] Charlie7887 commented on #63
V.9 is not working in multiplayer for me and my girlfriend              V.8 works fine

[2020-11-26 04:04] Snucker opened #64 "Min Distance between stackable poles could be smaller"
![image](https://user-images.githubusercontent.com/2848723/100306808-45472600-2f72-11eb-9277-c17800f0d6af.png)

[2020-11-26 12:35] Algalish commented on #63
@Barryt06 @Shad0wlife @Lordnms @Charlie7887
The last version broke MultiPlayer. Spent half a day trying to figure out a fix with gelp from other experience Satisfactory mod devs no luck. Need to work and will have a look at that tomorrow.
My appologies for the inconvinience , you can use previous version of the mod for now.
Oh, and if you remove the mod completely from the game - 0 buildings or fo

[2020-11-26 21:29] DrLeot opened #65 "Spacing between smelters not always equal [bug]"
Just found out while trying the mod that setting the spacing of the smelters to another value than the default one (with "p" key), the spacing isn't always equal. As more items I want to place, the smaller the space gets.

Maybe some float-rounding bug?

I haven't checked other buildings yet.

[2020-11-26 23:49] JuanC74 commented on #38
Hi,
I'm a leftie too. I found this MOD very useful. Maybe you can switch the key bindings pressing CAPS LOCKS. I only use the WASD keys while flying.

[2020-11-27 13:26] vinnyviking commented on #52
No problem,

As there is a workaround (do not use that many tiles) there is no hurry in fixing but I thought you should know this.

BTW I really love your mod. Just build a larger factory using it.

[2020-11-28 12:16] HijackHornet commented on #63
Doesnt seems to work with 0.8 either for me :/ Waiting for the update

[2020-11-28 18:25] Algalish commented on #63
@HijackHornet  I was completely overrun with work. Plan to do an update within the next 6-7 hours.

[2020-11-29 12:53] Algalish commented on #63
@Barryt06 @HijackHornet @Shad0wlife @Lordnms

Multi-player was actually a rebit hold that I went to.
Not only it was crashing but stuff like settings was not working fine.
1)When opening settings on the clien it was opennning on the server
2) When client was building - the UI with build size was shown on a server!
3) when client was building in hold mode and was looking at the sky or other buildin

[2020-11-29 21:21] Algalish commented on #56
was already done in V.9

[2020-11-29 21:21] #56 closed

[2020-11-29 21:21] Algalish commented on #54
@InsomniacSoftware  Was already done on V.9

[2020-11-29 21:21] #54 closed

[2020-11-29 21:22] Algalish commented on #46
done in V.9

[2020-11-29 21:22] #46 closed

[2020-11-29 21:22] Algalish commented on #53
@jmigual @Shad0wlife
It is fixed now. let me know if you'll have any other issues

[2020-11-29 21:22] #53 closed

[2020-11-29 21:23] Algalish commented on #63
its all working now, V.10 is uploaded. let me know if there are any more issues

[2020-11-29 21:23] #63 closed

[2020-11-29 21:24] Algalish commented on #38
@JuanC74 @PeterSoder
In V.10 the option of change arrow keys to WSAD keys is added.
Let me know if its perfect now.

[2020-11-29 21:24] #38 closed

[2020-11-29 22:32] InsomniacSoftware opened #66 "Chat command /smart doesn't work"
I just updated to v10 and tried the /smart command in chat but it doesn't work.  It shows "System: Unknown command"

[2020-11-29 23:11] Algalish commented on #66
@InsomniacSoftware
Hey there!
Because there was no easy way to make the chat command work in multiplayer, I decided to go the other way and now you can open mod settings by pressing M while building something with Smart!  I asked several people and they liked the idea, hope you like it too,

[2020-11-30 09:04] alfons234 opened #67 "Option Menu"
Hey man, I really like your mod, your many updates, the work you put in.
The simple press of the button 'M' for accessing the menu is a really improvement.
Can you please add your instructions too to your options menu? Like:
"Hold 'U' and scroll your mouse to step up or down
  Hold 'T' and scroll your mouse to twirl(offset) left or right. ......"
Since folks don't always build and use your mod all

[2020-11-30 09:06] alfons234 commented on #61
Since I went nuclear already twice I really support this!

[2020-11-30 09:34] Patrick-van-Halm opened #68 "Crash when loading into multiplayer game"
When loading into a multiplayer game with the latest version the game crashes.

Smart version: Latest
Satisfactory version: Experimental (137909)

**Log:**
[code]

[2020-11-30 14:56] BratrilliantG7 opened #69 "Build Info Location [Suggestion]"
Being able to choose where to put the build info would be a nice option. However I have a couple suggestions:

1. The old left hand location would clip behind the "Early Access" build text when you did more than one extra action, like elevation and step. So perhaps move it down slightly.

2. The new right hand location goes behind the milestone box, which 90% of players always have up. Perhaps eit

[2020-11-30 14:59] BratrilliantG7 commented on #64
Yes, please. Since we can now add spacing between buildings ourselves, making the poles directly next to each other by default would be wonderful.

[2020-11-30 15:05] BratrilliantG7 opened #70 "Build Info doesn't display if you only change an extra option [Bug]"
For most of the options, this doesn't matter since they rely on having more than a 1x1 for any of them to visibly work. However I wrote this because the same applies to Elevation. Sometimes I just want to build a single foundation way up in the air, but I have no idea how far it is until I use shift or alt to change one of the build directions. I can revert it back to a 1x1 then the info will disp

[2020-11-30 17:51] ToddRosenkrantz commented on #58
'M' key in use by mini-map mod.  maybe allow a different key somehow? For now I will not use the mini-map mod.  Thanks for the awesome work and effort to make the videos.

[2020-11-30 18:20] Algalish commented on #58
@ToddRosenkrantz  But I am only overriding this M button when user is building something with Smart! Other time this can be used for the MiniMap mod. Or MiniMod overriding it all the time in a bad way?

[2020-11-30 18:22] Algalish commented on #70
@BratrilliantG7  Good catch! I will definitely fix it in the next update. So as long as you do ANY changes- this will be shown, not just when the size is going to be more then 1x1

[2020-11-30 18:56] Algalish commented on #68
@Patrick-van-Halm  Hi, just to confirm - you are using Smart! V.10 right?
And does it crash on a client or on a server?

[2020-11-30 19:16] Algalish opened #71 "Add Smart! pipe junctions"

[2020-11-30 19:20] Algalish commented on #65
@DrLeot  Thx for finding that. I will look into that asap.
But can you confirm first if this still present in V.10 of the mod? And maybe with some screenshots. Thx!

[2020-11-30 19:37] Patrick-van-Halm commented on #68
Yes V.10 and the client just crashes I get the initialization screen and then it crashes.

[2020-11-30 20:54] Algalish commented on #68
I assume that it happens 100% of time when you enter multipleyer?
I haven't tested and officially supported this experimental branch.
Can you test it with the EA branch and let me know?
I know that suggesting playing EA is not a solution for you but at least I will get an understanding of what is going on.
Thx

[2020-11-30 20:56] Algalish commented on #68
@Patrick-van-Halm  if the issue is 100% EXP and there will be no way for you to switch back to EA then I will probably be able to build a special version for you for playing EXP. Will not releasing it like I did with fluids update, since too many people are plating EA and it will break multiplayer for them.

[2020-11-30 21:18] Patrick-van-Halm commented on #68
Thats understandable I will take a look tomorrow if the problem also occurs in EA. And tbh if you have to go through the trouble to make a whole new version for EXP imo you wouldn't have to but maybe for the future release since EXP will ofcourse be ported to EA at some point.

[2020-11-30 22:17] Algalish commented on #68
@Patrick-van-Halm  You are right, I will have to do it at some point, but after last time I had A LOT of people asking me why the mod is not working, so will think carefully before switching to EXP support. So let me think about it and lets find the source of the problem first.

[2020-11-30 22:27] ToddRosenkrantz commented on #58
Will test and reply soon.

On Mon, Nov 30, 2020, 12:20 PM Algalish <notifications@github.com> wrote:

[2020-12-01 00:32] PeterSoder commented on #38
It is perfect!
Great work now I can enjoy it even more!

[2020-12-01 03:22] ToddRosenkrantz commented on #58
Tested.  M during build.  It will call up Smart menu AND toggle the
mini-map.  I can just toggle the mini-map afterwards if needed.

I don't think it is feasible to lock out input to other mods.

Again, Thanks for your work.

Todd R.

On Mon, Nov 30, 2020 at 4:27 PM Todd R. <todd.rosenkrantz@gmail.com> wrote:

--
Todd R.

[2020-12-01 08:19] Patrick-van-Halm commented on #68
Yeah, that's understandable. Experimental is not called Experimental if it didn't come with its flaws.
Alright so the test results concluded: V.10 of smart does not crash my client on EA branch.

[2020-12-01 11:37] DrLeot commented on #65
@Algalish All right thanks for replying. I have installed V.10 and the error still occurs. While being in creative mode, i tried out several building and found out, that only the smelters are not aligned. I tried to center the smelters in the middle of a foundation eq. spacing 2x0.5foundation in between. After having 18 smelters by each side, the last smelter is around only 1x0.5foundations away f

[2020-12-01 22:28] sand3r opened #72 "Coordinates of placed foundations are getting 'off' when placing larger quantities of foundations."
Recently I started a new playthrough, because the coordinates from my foundations got 'off', resulting in foundations not connecting properly to each other (before using Smart!):

![Foundations misalign](https://preview.redd.it/k6ejv6bawdz51.png?width=2560&format=png&auto=webp&s=933a2a8466b3bd1f615e31f69d4fde48db7fd062)

I discovered via https://satisfactory-calculator.com/en/interactive-map that

[2020-12-01 23:04] Algalish commented on #72
@sand3r  Good catch! I am not feeling well today but will get back to you with some questions within a few days. We will get it right.

[2020-12-01 23:13] sand3r commented on #72
All the best and take care!

[2020-12-02 17:06] Ettychel commented on #68
Hey. I am having a 100% crash problem when using this mod in multiplayer when I am a client. I play on the EA branch. Sorry for my English. P.s. Google translator

[2020-12-02 17:08] Algalish commented on #68
@Ettychel  Hi! Are you using the latest verison of the mod (V10) ?  And can you share some screenshots/logs for that crash?

[2020-12-02 17:47] Ettychel commented on #68
About a miracle! It finally loaded for me! The game has just been updated to version 138329 and now there are no problems, but the error and symptoms were the same as Patrick-van-Halm. Before that there was a version of the game 138299. Thanks for the quick answer)

[2020-12-04 15:38] Algalish commented on #72
@sand3r  so you are saying that even in the vanilla game there is a problem like that?
I will of course look into that more but if this would have been a Smart! bug - that would be easy, but if thats the Satisfactory bug... well, I am afraid that I am kind of limited on my options here.

[2020-12-04 16:04] Algalish opened #73 "looking up removes factory buildings visibility"

[2020-12-04 18:02] headcase0570 opened #74 "[Suggestion] Foundation vertical stacking"
When placing foundations I'd like the ability to stack vertically/Z axis. It'd make creating 3x3x20 or 6x6x40 pillars a lot easier and faster!

[2020-12-04 21:41] sand3r commented on #72
I had the problem in my previous playthrough, but that happened because I started off wrong with my first foundation. I only found out very late in the game when my foundations after a large 'loopback' did not align anymore. It turnes out the game saves positions on x, y, z with max. 9 decimals but rotations only 3.

So yes, the game can bite you if you start of wrong.

But, normally in vanilla it

[2020-12-05 06:00] BratrilliantG7 commented on #74
This would be a nice addition. Probably use a new key like the other extra options.

[2020-12-05 16:02] aalexgabi opened #75 "Allow negative P or provide a way to build up"
I want to make a tower. Is there a way to stack foundations on top of each other?

I tried using shift and then the number of foundations and use p to make them stand one on top of the other.
Seems that p cannot be negative so it's not possible to do what I wanted but it would be very useful it it could.

Another way would be to implement a feature to build up as for shift and alt.

[2020-12-05 16:06] Algalish commented on #75
Right now you can’t. It is planned and will be available soon. However I am
currently sick and not be able to work on the mod for the next week.

On Sat, 5 Dec 2020 at 19:03 Aalex Gabi <notifications@github.com> wrote:

[2020-12-06 07:55] Algalish commented on #74
@BratrilliantG7 @headcase0570
Done in V.11
Enjoy!

[2020-12-06 07:57] Algalish commented on #75
@aalexgabi  Did that in V.11
Is this exactly what you wanted?

[2020-12-06 09:01] aalexgabi commented on #75
@Algalish Woow! That was quick! Thank you very much. I just made a donation on Patreon!

[2020-12-06 11:55] #75 closed

[2020-12-06 13:04] aalexgabi commented on #73
@Algalish This is not an issue when using auto hold mode.

[2020-12-06 13:42] headcase0570 commented on #74
Thank you!
[https://i.imgur.com/HxOT5.png](url)

[2020-12-06 13:43] #74 closed

[2020-12-06 13:46] Algalish commented on #73
@aalexgabi  yep, thats fixed now in V11

[2020-12-06 13:46] #73 closed

[2020-12-06 13:50] headcase0570 opened #76 "Typo in update menu"
(...)"Shift+LeftAlt+Scroll_Mouse**Whhel**"(...)

[2020-12-06 19:01] MoldyHackher opened #77 "Disconnecting from Host"
When in multiplayer with the 0.11.0 version I am disconnected from the host anytime I try to build anything.

[2020-12-06 21:39] Algalish commented on #77
@MoldyHackher  Hey! Is the server running 0.11.0 as well? What is the error message. can you give some screenshots, logs?

[2020-12-07 02:24] Algalish commented on #76
@headcase0570
also Shft instead of Shift.

Thx, will be fixed once the mod is updated

[2020-12-07 02:24] #76 closed

[2020-12-07 02:25] Algalish commented on #68
@Patrick-van-Halm @Ettychel
I am closing this for now since there are no more reports of that.

[2020-12-07 02:25] #68 closed

[2020-12-07 02:35] Algalish commented on #48
Added "M" key instead

[2020-12-07 02:35] #48 closed

[2020-12-07 02:35] Algalish commented on #49
@sidoitsu48 this is done in V.11

[2020-12-07 02:35] #49 closed

[2020-12-07 02:36] #66 closed

[2020-12-07 02:44] Algalish commented on #67
@alfons234  I am so sorry to hear that you got my welcome screen EVERY time you open that game.
My ego is not invloved here, this is just a bug.
This screen is supposed to open ONCE when you update the mod to a new version. That's it.
I think you are the first to report this.
To understand what is going on can I ask that you send your "SmartFoundations.cfg" file from the "C:\Program Files (x86)\St

[2020-12-07 02:46] Algalish commented on #67
@alfons234  I would not think that anyone in their right mind would ever want to open a splash screen every time user loads the game. Thats just ... horrible.

[2020-12-07 14:27] Merkury90 opened #78 "Game not starting with mod enabled"
Hello.

For quite some time now - Ibelieve 2 last versions (10 and 11) I'm unable to launch a game with Smart Mod enabled.
I'm getting error with SML crashing and failing to load module. Below screenshot with the error msg.

Is it mod related, Mod Manager related or maybe my game is corrupt?
Thanks in advance for any help.

Best regards!
![screen](https://user-images.githubusercontent.com/75625095

[2020-12-07 17:05] Patrick-van-Halm commented on #77
Having the same issue whenever I select any block (vanilla or modded) I get kicked from the host. We both are running version 0.11.0
[code]

[2020-12-07 17:57] Algalish commented on #78
@Merkury90  There is something wrong with the SML. Guys at discord recommended you to clear cache of SML like that.
Let me know if that helped you.
Or you could delete the whole .cache folder manually
![unknown](https://user-images.githubusercontent.com/1682176/101386860-c685ad80-38ce-11eb-8118-bf7185711451.png)

[2020-12-07 17:58] Algalish commented on #77
@Patrick-van-Halm  so this is resolved, right? you were using different version?

[2020-12-07 20:03] Patrick-van-Halm commented on #77
For me it is fixed yes I don't know for @MoldyHackher

[2020-12-07 21:50] EvilYodeler opened #79 "Add Smart! Color Gun"
The ability to select multiple items for painting would be amazing. I have huge buildings in my world and to be able to select large sections of walls for recoloring would be a great asset.
 Thank you for your time!

[2020-12-08 02:01] Merkury90 commented on #78
@Algalish
I used this option to clear cache - it didn't help.
I also tried to remove the cache folder from error msg - didn't help either.

Is there any log file I can provide to help track this issue?

[2020-12-08 23:11] jay061996 opened #80 "Smart constructor with "P" spacing is not aligning [bug]"
(tested with V.11)
In the image, the built constructors and splitters were hand placed onto foundation and align together, however the smart holograms when being spaced do not align with the splitters.
![2020-12-08_1-1](https://user-images.githubusercontent.com/1531040/101551199-aa414980-397e-11eb-9d54-2b9d68818157.png)

[2020-12-08 23:39] jay061996 opened #81 "Cycle through modes instead of held [enhancement]"
Currently the mod has keys U, T, E, and P which are held to do up/down stepping(U), left/right stepping(T), up/down offset(E), and combined foward/backward/left/right spacing(P).
These lack foward/backward stepping, foward/backward and left/right offset, up/down spacing, and uncombined foward/backward/left/right spacing.

My suggestion is to only use T to toggle modes(or maybe open a radial?) betw

[2020-12-09 10:05] #77 closed

[2020-12-10 13:35] Algalish commented on #79
Hey, @EvilYodeler
I thought about adding a new feature with "C" button that when holding it will mouse scroll(or arrow keys) through different color pressets. do you think that it will work for your case? But I would have to take the color cartridges from the user inventory, I still want Smart! to not create things from nothing. Or maybe add an option in settings to take or not take color cartridg

[2020-12-10 13:43] Algalish commented on #81
@jay061996  I really like that idea. Can you tell me your discord name so we could discuss this more?

[2020-12-10 22:14] EvilYodeler commented on #79
I think I am speaking more to the idea of painting multiple selected buildings at once with whatever color is set in the Color Gun. Using cartridges from your inventory would be great. The option to use/not use cartridges would be a "nice to have" config...  :)

[2020-12-14 02:54] Algalish opened #82 "Add Smart! power poles"

[2020-12-18 17:32] jbarradale opened #83 "Can it be installed and disabled?"
I play Multiplayer with someone that uses the Smart Mod, but I do not care for it. Can I have it installed, so that it will allow me to play with my friends, but disabled. It interferes with my key assignments. I use the arrow keys to move, so when I am building with this mod I am unable to move around. I have to exit build mode and then go back each time I build different objects or in different

[2020-12-18 18:10] Algalish commented on #83
Hey @jbarradale  I plan to add this option within the next few weeks. So you will be able to just go to settings of the mod and disable it. But right now you can already disable the arrows when building.

[2020-12-19 06:01] pedroivorbgrodrigues opened #84 "x3-Road Highway-Fence Left (Ramped) not working as expected"
As you can see in the image the left side doesnt work as the right side. (Yes, Im placing it reversed, but the behaviour is what is broke).
![image](https://user-images.githubusercontent.com/293789/102682167-39800580-41a6-11eb-9ed0-4a39e0b1e229.png)
![image](https://user-images.githubusercontent.com/293789/102682185-6207ff80-41a6-11eb-9c7d-2518908ba910.png)

[2020-12-21 00:33] Algalish commented on #83
@jbarradale  you can now disable the arrow keys by going to mod settings and set "alternative ontrols" to "Disabled"

[2020-12-21 00:33] #83 closed

[2020-12-21 00:33] #78 closed

[2020-12-21 00:34] Algalish commented on #71
sorry, thats too complicated for many reasons

[2020-12-21 00:34] #71 closed

[2020-12-21 00:34] Algalish commented on #61
@alfons234  done in V.12

[2020-12-21 00:34] #61 closed

[2020-12-21 00:35] Algalish commented on #55
done in V.12

[2020-12-21 00:35] #55 closed

[2020-12-21 00:36] Algalish commented on #50
@swent fuel generator added in V.12
packager was there for a long time

[2020-12-21 00:36] #50 closed

[2020-12-21 00:36] Algalish commented on #40
done in V.11

[2020-12-21 00:36] #40 closed

[2020-12-21 00:37] #13 closed

[2020-12-21 05:50] Algalish opened #85 "UI ussue"
Different thing actually, the counter in the top right corner doesn't appear if you go up/down before going back/forth or right/left

if you do the other two directions first it functions as normal but it won't appear until you do

[2020-12-22 07:55] Algalish opened #86 "Arrows for some buildings are wrong"

[2020-12-22 16:46] Baby1B opened #87 "arrow keys for moving"
i am one of those weird people that use my arrow keys to move in game.  I want to use this mod over the pak utility mod but cant cause my weird issue.  is there a way to disable the arrow keys or re key bind them?  I do believe I have seen this asked here before and thought it was in the works but that was about a month ago.  any reply would be appreciated thank you!!!!

[2020-12-22 16:48] Algalish commented on #87
Hey @Baby1B .
Its already done in the last update. Just open settings and select “disabled” in alternative input. And you are good to go!

[2020-12-22 20:59] Baby1B commented on #87
o dang sweeeeeeet thank you every time i read the mod i just see the arrows as alternate lol thank you sooo much!

[2020-12-22 20:59] #87 closed

[2020-12-23 07:32] Algalish opened #88 "problem with smart containers"
https://cdn.discordapp.com/attachments/555516979260293132/791176017955389480/Satisfactory_Screenshot_2020.12.22_-_22.27.32.25_2.png
https://cdn.discordapp.com/attachments/555516979260293132/791181432541151242/Satisfactory_Screenshot_2020.12.22_-_22.50.28.94_2_LI.jpg

[2020-12-23 15:32] Algalish opened #89 "bug with pillars"
Also, speaking about pillars, I think I found a bug, you can't seem to build middle pillars in all three axes, you can hold shift and alt and it adds a number to the top right as well as costs you more resources but it only builds in two axes, as you can see with this screenshot.

[2020-12-24 18:14] jbarradale commented on #83
Thank you for your reply. I did some reading and found that I could change the option to use the WASD keys. So, I can now use it without problems. Thank you very much for a kool addition to our Satisfactory experience in both single player and Multiplayer with UnkemptGamer every week.
 

jb

 
 

Sent: Friday, December 18, 2020 at 1:10 PM
From: "Algalish" <notifications@github.com>
To: "Algalish/S

[2020-12-28 01:38] FaTaL6266 opened #90 "Update Distance Placement(P)"
This idea came to me when messing around with water extractors. I would like to be able to modify the spaces between building in each direction separately. By this, I mean that if I have a set of 2x5 buildings, in this case, water extractors specifically, I'd like the rows of 5 to be right next to each other, but I want the distance between rows to be large enough to fit foundations between them.

[2020-12-28 06:49] Algalish commented on #90
Hey @FaTaL6266
Yea, I already thought about that and there is an active ticket for that.  It actually should work for 3rd dimension too.
But what will help is the idea of control for that logic: like what buttons are best for using that.
Maybe holding P will turn on all 3 dimensions , pressing P will toggle different directions?  Like  X, Y, Z, ALL ?

[2020-12-28 13:15] FaTaL6266 commented on #90
I think something along those lines could work, but I would think that you would want to make it standard across all machines. Perhaps it can be done without having to press P at all. Would it be possible to just hold X, Y, or Z and use the scroll wheel to adjust them each individually?

[2020-12-29 03:50] imtheman0313 commented on #45
Can confirm, crash on exit.  This is with Smart! mod only, with Smart! and ExoSuit, with Smart! and Nuclear Waste Recycle.  With ExoSuit alone, no crash.  Nuclear Waste Recycle alone, no crash.  ExoSuit and Nuclear Waste Recycle, no crash.  As soon as I add Smart! to it, crash on exit.  This does not seem to affect gameplay (except the obvious using full inventory to build large areas lagging thin

[2020-12-29 03:52] imtheman0313 commented on #45
Also, I forgot to mention.  I am using the Mod Manager for mod installs, if that makes any difference.  I have also tried a couple different launch and end game tactics, all resulting in the crash box appearing.

[2020-12-29 09:21] RandomUsername27 opened #91 "[Suggestion] Conveyor lift height displayed on new UI"
With the new rebranding, and extension of the mod's scope to things other than foundations, and the addition of the new UI displaying the dimensions, elevation, twirl, and so on of SMART stuff being placed, I had the idea, that conveyor lifts (and maybe ladders) could have their current extension (height) shown.
For now we have to rely on dumb ways like counting manually, or looking at the hologra

[2020-12-29 18:04] DakotaWhipple opened #92 "Can't move right with custom movement keys"
When I click to place floors, I can move forward, left, and back. Right doesn't seem to work. I use custom keys because I use a dvorak keyboard.

[2020-12-30 03:44] UnrealParadoxx opened #93 "Universal Power Mod Compability"
Love the mod.  Any chance that you could look into compatibility with the universal power mod.  When building multiple buildings that require power while both mods are being utilized, only the last building becomes powered.  Even after configuring and clicking off and on the building, the other buildings do not get power.

I'm not sure if there is a fix for this but figured I would throw the quest

[2020-12-30 11:43] Algalish commented on #93
@UnrealParadoxx  Wow, this is interesting. Will look into that

[2020-12-30 11:44] Algalish commented on #92
@DakotaWhipple  Hmm, can you let me know what keys are you using for movement? Maybe I will add this keyboard option to the setting

[2020-12-30 18:29] DakotaWhipple commented on #92
semicolon for forward, a for left, o for back, e for right. E is the only key that isn't working correctly.

[2020-12-30 18:58] DakotaWhipple commented on #92
Sorry, I meant comma for forward; idk why I said semicolon.

[2020-12-31 02:50] Gainer69 opened #94 "Game Crash with Smart Mod"
I have had this happen several times, while I am building a platform and holding down ALT and accidently hit right click the game will crash suddenly.  Does this happen to anyone else?  If no, I can provide information on what other mods I have installed but since I am in the middle of a Smart Mod function I expect it is related.

[2020-12-31 08:19] Algalish commented on #94
@Gainer69  I will look into that. Not a common scenario so no reports of that so far

[2021-01-03 15:52] Algalish commented on #47
@ithras  done in V.13

[2021-01-03 15:52] #47 closed

[2021-01-04 23:26] Algalish opened #95 "improve P"
idea is make it so holding the mode keys do their default thing, but pressing it with a modifier will toggle into that mode allowing for separate x/y/z control within the mode

[2021-01-05 15:41] ifumiya commented on #92
I want the keyboard option too.

I use `ESDF` instead of `WASD`.
`E` key is conflict for the movement and the Smart!'s elevating constructing.
Other keys `SDF`  are working correctly.

dvorak movement keymap | ESDF movement keymap
-|-
![image](https://user-images.githubusercontent.com/20366173/103664663-d966cd00-4fb5-11eb-9e4e-9f83fe2c3d46.png)|![image](https://user-images.githubusercontent.com/20

[2021-01-05 16:26] Laythros opened #96 "Unable to Update with SMM"
Unable to update with SMM and has removed the later versions.

![image](https://user-images.githubusercontent.com/20496357/103668793-bfd17100-4f34-11eb-8536-127adfd4d202.png)

[2021-01-05 19:22] Laythros commented on #96
Was a Cache issues all working now. Sorry for the inconvenience new to mods  :(

[2021-01-05 19:22] #96 closed

[2021-01-16 02:40] Birdulon opened #97 "Is there a point to -1?"
Currently, decrementing any axis from 1 makes it -1. As far as I can tell it doesn't seem to be meaningfully different from (+)1, and it adds another keypress/mousewheel click to get from 1 to -2.
It would be nice to be able to go from 1x1 to e.g. -2x-2 with only 2 presses instead of 4.

Great mod btw, the quality of life improvement is tremendous!

[2021-01-16 16:44] Einstein725 opened #98 "[Suggestion] You should add Moar factory support"

[2021-01-22 06:01] pcman312 opened #99 "Splitters/Mergers incorrect offset when building vertical"
When placing splitters/mergers with shift+alt to place several vertically, the splitters/mergers do not have the same height compared with placing two normally.

See screenshot below. The left splitters were placed by hand while the right splitters were placed with Smart (shift + alt). The stackable conveyor pole is an unmodded pole also showing the incorrect height.
![20210121225700_1](https://us

[2021-01-22 06:07] Algalish commented on #99
https://we.tl/t-L9hZzGGebh

Hey @pcman312

Can you confirm that in this version everything works fine?

[2021-01-22 06:30] pcman312 commented on #99
That looks correct to me. Thanks a bunch!

[2021-01-22 17:51] Greg-J commented on #93
@Algalish I think the issue lies with the Universal Power Mod and not Smart! The description for that mod specifically states that it has an issue when buildings are created in succession to quickly.

@UnrealParadoxx the solution, for now, is to simply save and reload the game after you have made a bunch of buildings with Smart!

[2021-01-24 07:30] mkfink opened #100 "[Suggestion] Daisy chain power cables support"
If the buildings being placed are the daisy chain-able version from the [Daisy Chain Power Cables mod](https://ficsit.app/mod/4gKkJ9gvEVZDeu), build a power cable between each successive building when placing with Smart.

[2021-01-24 07:39] Algalish commented on #100
@mkfink

YES, I was thinking about the same idea and will do it very soon. As they say : "great minds think alike"
The other thing like that that I plan to do is when doing auto-connect to multiple buildigns - to copyrecepie for all of them from the first one. That will save even more time. Just need to remember to set the recepie to the first building before doing splitters with auto-connect

[2021-01-24 09:53] catonthekbd opened #101 "conveyor height wrong on first link when starting in elevated positon"
I dropped a couple of splitters to get correct height

I then tried to drop 5 splitters on 3rd level
1st conveyour was on 2nd level
![Screenshot20210123-16070900000](https://user-images.githubusercontent.com/57501659/105626775-f9a5e100-5e29-11eb-8dce-aca1f968c557.png)

[2021-01-24 10:00] Algalish commented on #101
@catonthekbd  Can you try the same with this test version?
https://we.tl/t-ApjeWJXqKb

[2021-01-24 10:09] Unreal-2K7 opened #102 ""Connect to building" feature: option to have non-forced P offset to accomodate for gap between buildings"
Using version Smart!-0.15.0-first-test-for-patrons.smod
This is something that maybe not many people do, so it's low priority, i just wanted to give a heads up on this behaviour.

I like to lay constructors with a two step gap between them as to not have compenetrating robot arms during animations.
When using the "connect to building" feature, the max P offset value i can get is 400, which would b

[2021-01-24 10:17] Algalish commented on #102
@Unreal-2K7

Ok, I had an idea recently that forcing Spcaing(P) and Ofsset (T) (for second level of buildings)  should not be always forced.
Instead - it should be enforced only the first time that the building is found for auto-connect.
After that - you can change both P and T and if you connect to another building type - it will not be enforced. To get it back - you need to restart the hologram

[2021-01-24 10:48] Unreal-2K7 commented on #102
I belive that your first idea to just enforce it once at the beginning is the easier to implement and to use at runtime, so you won't need to add yet another option. Most of the times building will be just laid one after the other without gap, so no need to add algorithms to detect the offset, that's too much work that probably will rarely be useful.

Thank you for the effort!

[2021-01-24 10:57] catonthekbd commented on #101
no change ...
![Screenshot20210124-10550400000](https://user-images.githubusercontent.com/57501659/105628117-e0556280-5e32-11eb-8a87-0cf8fe0d8897.png)

[2021-01-24 11:15] catonthekbd opened #103 "feature request - different belt speeds splitter/splitter and splitter/building"
I was wondering is it would be an idea for "auto" speed to be maximum belt speed between the chained splitters, and minimum speed between splitters and buildings?

[2021-01-24 12:18] catonthekbd commented on #101
went back and re-checked - update info screen still says it is v.14, even though correct .smod file is in mod directory

[2021-01-24 13:52] Algalish commented on #103
@catonthekbd  for it to be dividing the items to many buildings and not just to the first/second one?

That sounds itneresting. How a thing like that could be controlled - a separate config in settings - like  "level for conenction to buildings":  "auto "  "auto-1" "auto-2" and normal 1 2 3 4 5 ?

[2021-01-24 14:34] catonthekbd commented on #103
I leave it to you, I initially thought about having seperate controls, but then thought UI could end up too complicated for the user :)

[2021-01-24 14:44] catonthekbd commented on #103
Other random thought - if the splitters are on 3rd level up or higher (per screenshot on other bug), should you drop lifts rather than belts?

[2021-01-24 19:26] Greedo-fr commented on #72
That is a known issue in Satisfactory, linked with how computers store floating point values.
Workaround from subreddit was is to have foundations aligned NSEW.
I'm not sure Smart mod will be able to correct this. Good luck

[2021-01-24 19:33] Greedo-fr opened #104 "[Feature request] Add support for Conveyor Wall Mount"
Yes, we can make a big factory with this...
(also, it would be nice to have a P with an effect on vertical spacing...)

[2021-01-24 19:42] sand3r commented on #72
Hi,

That's correct, when it is not placed 100% NSEW, you will definitely run
into this issue.

However as I tried to describe, using this mod, 'misalignments' will happen
anyway, even if the rest of your base is 100% aligned NSEW (checked with
the Satisfactory Calculator website). Coords are perfectly on the .0 mark
when placed manually.

Thanks for the reply anyway :)

On Sun, Jan 24, 2021 at 8:

[2021-01-24 22:35] Algalish commented on #101
@catonthekbd  Tryed everything that I possibly could to fix this today but no luck. Due to all the hacks I have with those belts - this is not working properly.
For now just remove the first belt and build it manually, I will keep the issue open and I will get back to it later.

P.S. It is ok that test version is showing V14: I only update the texts and version number before "release"

[2021-01-24 22:37] Algalish commented on #99
@pcman312  Great, you are welcome. The fix will be added to V.15

[2021-01-24 22:37] #99 closed

[2021-01-25 22:16] catonthekbd commented on #72
Would it be possible to have some special key to force foundation positions x,y to be multiple of 8, z multiple of 4, and rotation 0 ? (when dropping a foundation  that is not snapping to any other)  - Making it easier to build factory units in different places that still line up with each other

Or would we still be bitten by SF's floating point limits?

(strong suspision it is not possible ...)

[2021-01-26 10:18] Algalish commented on #72
@sand3r

Yes, this is a floating point precision issue.
I did some investigation and I don't think that there is someting that I can do that will fix this since Sf itself builds foundations like that.

@catonthekbd
The idea of forcing rotation to 0 and "sticking" foundation to only round numbers (there is even non need to make them 8 or 4 , just ignoring the .0001 stuff should help)

[2021-01-26 14:48] Tropelage opened #105 "Lifts do not work if I use the Splitter/Mergers created by SMART"
Hello,
Excellent mod you have created.  I have an issue every time I use the mod to create multiple Splitters/Mergers and then use a lift to connect them to a building such as a Constructor or an Assembler.  If you can see from the pic I have attached, the Splitters in this case are distributing items to each other, but not down to the lifts.
![Liftissue](https://user-images.githubusercontent.com/

[2021-01-26 23:21] Algalish commented on #102
@Unreal-2K7  Done in V.15. Should be able to select a new mode in settings

[2021-01-26 23:21] #102 closed

[2021-01-27 01:29] kevanaustin opened #106 "[Feature Request] Industrial Solutions compatibility"
I like the parts available in 'Structural Solutions' Mod by Mike Skinner, any chance of getting SMART to work with them?

![image](https://user-images.githubusercontent.com/72109200/105929161-19900b80-609b-11eb-9798-3b98ca00b191.png)

[2021-01-27 04:55] zdravi opened #107 "[Bug] "Connect To Buildings" incorrectly and immutably assumes minimum spacing between buildings"
Repro:
1. Place 2+ production buildings with any >0 spacing between them (screenshots attached have examples of smelters and constructors).
2. Place 2+ splitters with the "Connect to Buildings" setting enabled.

Expected:
- Proper linking with the additional space taken into account, and/or the ability to manually change the distance between the splitters.

Actual:
- Splitters will be placed in po

[2021-01-27 16:27] Baghiel opened #108 "[Request] Covered Conveyor support?"
I use the Covered Conveyor mod, and would love to see the belt connections from this have the option to use the belts in the Covered mod. As it is, I have the belt connect turned off so that I don't have to delete and replace the belts.

I do understand if this is considered a low priority, but never hurts to ask.

[2021-01-27 17:29] Algalish commented on #108
@Baghiel
I will try to check it out tomorrow. I have a lot on my plate right now so if there is no answer from me in 2 days - please remind me about it ok?

About low priority : If something can be done within 15 minutes or so - that's fine for me. I think this is the one just like that - where I need to download the mod, look at its assets name and then add this type of convey-our to the list, le

[2021-01-27 17:32] Baghiel commented on #108
All good. As I said, I understand if it's a low priority. It's not it is stopping me using the mod. Platforms are so much easier to deal with using it. If it appears in the mod, sweet. If not, no big deal. I just continue belting manually, as I have done since the game was launched.

[2021-01-27 17:32] Algalish commented on #107
Hey @zdravi

Currently, this is an expected behavior - it only works with 0 spacing between buildings.
You can, however use manual spacing, by setting "Once" or "Off" the "Auto set space/level/offset" switch for now.
Then, using P you align splitters manually.twitc

I can't promise you that I will fix it ASAP, but probably soon.

[2021-01-27 22:13] Thunde33 commented on #98
Yes pls add support for this great mod. It has the best glass walls.

[2021-01-28 16:26] CAGalvez commented on #98
Pretty please with sugar and a cherry on top!  I use so many of their foundations and walls, and it is a pain now that I have gotten used to using your mod for the other regular foundations.  You have spoiled all of us.
I am in the middle of a major storage site build and use the Foundation95, as it has a tiny flicker when overlapped compared to the regular ones.
![Foundation95_Major_Project](http

[2021-01-29 10:59] Algalish opened #109 "Make an option to disable 2+ level of auto-connects"

[2021-01-29 11:34] Algalish opened #110 "support mk++ for auto-connect"

[2021-01-31 11:25] SwampFalc opened #111 "T-functionality seems broken in 0.15?"
I distinctly remember a previous version allowing me to make a line of foundations, and then twirling the entire line into, for example, a perfect diagonal.

That no longer seems possible? Only the second foundation gets offset with respect to the first, and then the rest goes on in a straight line.

![image](https://user-images.githubusercontent.com/20422044/106382334-368c4d80-63bf-11eb-8c7e-0dbc

[2021-02-01 01:14] Algalish opened #112 "Splitters/Mergers Multiplayer:"
Host: works perfect.
Client: Build preview doesn't display correct spacing, but final build will, then over extend.

[2021-02-02 20:54] dempsey001 commented on #106
up vote on this! great asset mod but after using SMART! it's almost painful when laying foundations. I'd love to see support added as well.

[2021-02-03 20:43] zzubnik commented on #18
This makes the mod mostly useless for left-handed people who use the arrow keys to move around. Is there a solution for left-handed people? I know we are only 14 percent of the population, but it would be great if there was a left-handed mode where it used WASD instead for foundation changes.

[2021-02-05 19:13] mkfink opened #113 "Bugs related to smart stackable conveyor poles (from 2020-02-05 patreon update)"
https://i.imgur.com/mJ9PINO.jpeg
See above for a combination of some of the effects.

Using the T, E, and U keys plus mouse wheel have some unexpected behavior with the new smart conveyor poles.
T just move the entire stack side to side, except for the first pole which stays in place.
E moves the entire stack vertically, and also creates a duplicate conveyor pole at the cursor.
U causes the convey

[2021-02-05 19:14] mkfink commented on #113
Oh, and using P lets you create otherwise impossibly long conveyor belts, but that's not really as serious of an issue since you can make plenty of other impossible things with this mod.

[2021-02-05 19:43] mkfink commented on #113
Sorry for all the posts, found one other issue when placing poles 'backwards' with mouse-wheel down. Hard to put into words, but the belts end up offset and incorrectly connected to the poles/each other. I'm not sure how much of this is a graphical glitch vs functional. Here's a short recording of it: https://youtu.be/mlIqt6Hxw20

[2021-02-06 02:44] Algalish commented on #106
@kevanaustin
@dempsey001
Hey guys, here is a test version with Structural Solutions mod support.
Let me know if there are any problems that I missed.

https://we.tl/t-rFoSztzWLo

[2021-02-06 11:49] kevanaustin commented on #106
So far so good I thought there was a problem with collisions (Encroaching Others Clearance) but the Structural Solutions mod has none.

[2021-02-06 13:42] dempsey001 commented on #106
Hey folks, I played around with this a bit this morning. I'll try to do a bit more testing later but most of the foundations seem to work as expected.

I found that if I try placing any size wall though (didn't matter if it was concrete or a glass bit) the game would crash immediately. I'm not sure if this may be a version issue because I had just picked up SS mod 0.0.6 today.

[2021-02-06 17:27] Algalish commented on #106
@kevanaustin @dempsey001
So the funny story is that Mike Skinner (the SS mod creator) had crashes all over the place when he was testing it.
And haven't had a single crash.
This is very weird and I can't find a reason for it yet.
So will investiaget further.

And no, it does not matter if 0.0.5 or 0.0.6 version of SS is used.

[2021-02-06 17:27] Algalish commented on #106
@dempsey001
Since you also had crashes - can you make a screenshot of your Smart! settings window? Maybe that will help me understand the problem.

[2021-02-06 19:16] dempsey001 commented on #106
I'm pretty sure I've never adjusted any of the settings. They should be default. Screenshot is attached.

![Settings](https://user-images.githubusercontent.com/1706488/107127689-d47f8c80-6885-11eb-9468-9447fa961d3a.png)

[2021-02-06 22:21] kevanaustin commented on #106
I had a crash it was a curved window in the concrete section onto basic 8x8 foundation blocks.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Joe Dempsey<mailto:notifications@github.com>
Sent: Sunday, 7 February 2021 6:16 AM
To: Algalish/SmartIssueTracker<mailto:SmartIssueTracker@noreply.github.com>
Cc: kevanaustin<mailto:kevan_austin@hotmail.com>; Mention<ma

[2021-02-07 17:17] mkfink opened #114 "Crash with Structural Solutions"
With the version of Smart on Patreon with Structural Solutions support, my game crashes when I select certain objects from the build menu/hotbar. I haven't tested everything, but so far the crashes seem limited to flat wall type objects:
- Concrete Wall
- Concrete Wall 8m
- Rounded concrete wall
- Roll up door

Things that did not crash:
- I-beams
- Concrete blocks, chamfers, cylinders, domes, cur

[2021-02-08 15:26] mkfink commented on #113
Another issue I'm seeing in this version is if I use smart to place multiple mergers (either connected to buildings or not) in reverse (mousewheel down) I am unable to connect belts to any of the sides of the mergers that are in line with the belts. So I can't connect to the output, and if I delete one of the mergers and try to replace it manually, belts refuse to connect to the neighboring merger

[2021-02-08 22:41] ArrionHammerson opened #115 "Crash with 0.15.0"
When I install 0.15.0 the game crashes on launch with "SML HAS CRASHED: Errors occurred during mod loading stage 'mod discovery'. Failed to load zip mod from .../SmartFoundations_0.15.0.smod (Failed to extract data objects) It works fine when I revert to 0.14.0. If it's a mod conflict I'm in trouble because I have around 28 installed and it'd be tough to isolate. I'm using SMM to install but I als

[2021-02-09 09:55] Algalish commented on #106
@kevanaustin @dempsey001
Please try this version. It should not contain any crashes on any items.
https://we.tl/t-vBGb3hD0ib

[2021-02-09 09:56] Algalish commented on #114
@mkfink
Can you please try this version?
The crashes should be fixed here.
https://we.tl/t-vBGb3hD0ib

[2021-02-09 09:58] Algalish commented on #115
@ArrionHammerson
No, there is no known mod confilicts that I know.
It looks like the file was damaged when download.
I can try to explain to you how to clean mod cache or ask to reinstall SML but I will post tonight a V.16 of Smart so it is better to wait for that and then test it. So let me know if it will still cause problems for you.

[2021-02-09 14:37] Algalish commented on #84
@pedroivorbgrodrigues
I know that it's been more then 2 months since you found this bug.
But I fixed it and if you can confirm that this is working fine - you can close this issue.
I will release V.16 soon or you can already check it with this test version
https://we.tl/t-eR376t81S9

[2021-02-09 14:56] pedroivorbgrodrigues commented on #84
Thank you for your work! I stopped playing but I'm happy we sorted this out. =]

[2021-02-09 14:56] #84 closed

[2021-02-09 15:51] mkfink commented on #114
Yep, that fixes the crash. Thanks!

Now just a few of the larger walls/doors have the wrong default spacing:
8x8 concrete wall /door wall, curved wall cap 8m (glass and concrete), 8x8 door - Vertical offset is 4 instead of 8
8x16 door - vertical offset is 4 instead of 8, horizontal offset is 8 instead of 16
16x16 door, 16x16 glass wall - vertical offset is 4 instead of 16, horizontal offset is 8 i

[2021-02-09 16:43] Algalish commented on #113
@mkfink  Thx for all the comments.I will definetly take a look at all the options but I never intended anyone to use T E and U with stackable poles. yet. maybe I will make somethinw about it including your idea to create a round circle.
I know that on a rocky terrain a straight line is not very usefull but I have no way to fix it yet. to it is mostly for building on foundations.

Can you elaborate

[2021-02-09 17:24] ArrionHammerson commented on #115
I dug around in the SMM settings and found the command to clear the cache. That seems to have done the trick, thank you. It was a bit confusing that a manual install didn't fix the problem, but at least I have this in my toolbox for future problems now.

[2021-02-09 17:27] mkfink commented on #113
Sure, here's what I'm seeing with mergers placed in reverse (something similar also happens with splitters): https://youtu.be/amRC_iTdcXE

[2021-02-09 19:30] CAGalvez commented on #24
Hello @Algalish :-)
I was wondering if you were able to get the MOAR Factory support to work?  I am in the middle of a big project and am so used to using the standard foundations with your fantastic mod, but I have tried everything I can think of, including adding to my frequently used items at the bottom, and MOAR still does not work.

![Foundation95_Major_Project](https://user-images.githubuser

[2021-02-09 23:13] Algalish commented on #115
@ArrionHammerson  Glad that you worked it out

[2021-02-09 23:13] #115 closed

[2021-02-11 06:32] Algalish commented on #113
@mkfink  I fixed the problem with splitters/mergers when you build them in reverse. both visually and logically. same for stackable poles.
I also added a limit to the poles - they cannot be longer then the game's limit for belts.
And set the default spacing for poles to 20m. I think it is better this way.
Also added the correct way to use "U" for poles to build on ramps

Really hope I haven't brok

[2021-02-11 13:56] dempsey001 commented on #106
@Algalish  - i've put in about 3-4 ish hours playing normally in my world using SS with Smart! a fair amount with concrete, frames and steel objects. I've haven't seen any crashes. Looks good my man!

Great work!!

[2021-02-11 16:11] mkfink commented on #113
Looking good! I don't see any issues placing things in reverse now. Tried hooking up to a few buildings and it seems to work fine.

The longer default belt pole spacing is good, and the limit seems to work with P. With U though, you can make impossibly long and steep vertical belts.

[2021-02-11 17:28] Algalish commented on #113
@mkfink
Great, so I will just fix the problems with U then.
Any ideas how to control that? Limit something : for example maximum Up level or Up level mult by the lenght and decrease lenght if it all becomes too big?
This is not as crytical bug as infinite spacing or reverse placement so maybe we think about it and fix in an update.

[2021-02-11 20:31] mkfink commented on #113
Yeah, it's not really a major issue. Can you limit the length of the belt based on the cost? Cap that at 26 aluminum per belt and no matter how it's built that should limit the length at least.

[2021-02-16 09:59] Algalish commented on #114
@mkfink Released the V.16 with all the above things fixed.
Thx for testing it!!

[2021-02-16 09:59] #114 closed

[2021-02-16 09:59] #113 closed

[2021-02-16 10:00] Algalish commented on #110
done in V.16

[2021-02-16 10:00] #110 closed

[2021-02-16 10:00] Algalish commented on #106
@dempsey001  Happy to hear that everything worked fine!
Released this in V.16 so I am closing the issue

[2021-02-16 10:00] #106 closed

[2021-02-16 12:53] Algalish opened #116 "stackable conveyor belts also with conveyor walls?"

[2021-02-16 21:51] douglasgebhart opened #117 "New Stackable Conveyor Connections don't connect properly"
When I use the new stackable conveyor connections, the belts are created, but they appear to not be connected on one end.  See attached image.  Top belt is hand created, bottom is created using Smart!.
![image](https://user-images.githubusercontent.com/47260412/108125937-09e26200-705e-11eb-8d65-b1e125700b3f.png)

[2021-02-16 23:12] camelpockets opened #118 "[Bug] Multiplayer crashes with autoconnects (0.16)"
The autoconnect functionality with splitters into any building (constructors, assemblers, refineries) crashes any non-host player on in a multiplayer game with version 0.16. The error occurs immediately when a splitter "detects" one of the buildings and attempts to create a connection between the splitter and the building. Placing a splitter as normal is fine.

[2021-02-17 01:11] mkfink commented on #114
Thanks for the update, most of that is fixed! :D
8x8 Concrete Wall and 8x8 Door Wall still have incorrect vertical offset. 8x8 conveyor wall is correct.
16x16 glass wall still has incorrect horizontal offset. Vertical offset is good. 16x16 door is all good.

[2021-02-17 02:01] Algalish commented on #117
@douglasgebhart
wow, I tested it like a million times. will have a look at it again

[2021-02-17 02:04] Algalish commented on #118
@camelpockets
got it, will take care of it

[2021-02-17 03:20] Algalish commented on #105
@Tropelage  Can you check this with the latest version of Smart! V.16 ? I fixed a lot of bug there including this one. Please reopen the issue if this is still not working for you

[2021-02-17 03:20] #105 closed

[2021-02-17 04:07] Algalish commented on #117
@douglasgebhart
I cannot reproduce it.
Can you send me the exact configuration of the belt tha tyou were building? a screenshot of the UI on the tor right of the screen.
P.S. were there any poles nearby ?

[2021-02-17 04:27] douglasgebhart commented on #117
Released version, downloaded with SMM.
Did some more playing around.  Seems to be an issue when you have multiple belts side by side.  See the attached video for something I think is related. (FYI, I am not sure if you will get this, but the video is stuttering for me.  You can still see what happened. Probably can't run OBS and Satisfactory at the same time...)
Note, this video ended with a crash

[2021-02-17 04:36] douglasgebhart commented on #117
Sorry, had to upload the video.
https://drive.google.com/file/d/1htQN0PbTrvsBmtS7j8HJkXb3AOfK8O5n/view?usp=sharing

[2021-02-17 09:04] Algalish opened #119 "could there be 2 settings, for 1 set belt tier between mergers and splitters 2 set belt tier between mergers/splitters and buildings""

[2021-02-18 01:29] CYRUS1469 opened #120 "Auto Connect not working for Manufactures"
First off Love the mod cant live without it,    Onto the issue I've noticed  it will not auto connect to Manufactures  MK1 thru MK4  if this is fixable that would be a huge help.  Please and thank you .

[2021-02-18 01:54] CYRUS1469 commented on #120
for the input on a manufacture, i use staggered Splitters at the heights , than connect as such ground and 2nd lvl are belted, the 3rd and 4th are using conveyor lifts to connect, if this is also possible that be fantastic.    Also, note the Mergers on the output of Manufactures do not auto-connect at this time.

[2021-02-18 02:10] CYRUS1469 commented on #120
![Screenshot20210217-20594200000](https://user-images.githubusercontent.com/79235440/108294726-6d56b780-7164-11eb-94c4-e0acdf3e248b.png)

[2021-02-18 14:27] CoolHandDevil505 opened #121 "Game not launching anymore with Smart"
Hi!

Do not know since wich game/mod version, but I cannot launch the game (experimental or early access) with the mod installed. I tried several versions of the mod with no luck. I do not have a crash report nor an error message…
It synchronises cloud, never show the Satisfactory logo, and syncs again…
Using SMM 2.3.1.

Thank you for this smartvelous mod.

[2021-02-18 18:10] indoorjetpacks commented on #117
Additionally, stackable conveyors placed in a configuration where width is more than 1, seem to not be connectable at the end. I was testing this and preparing to record an example to see if it was related to @douglasgebhart's bug, and it seems like it might be. Items going on the belt sometimes appear to jump from the middle or the end of a belt, to the start of the belt to the left or right.
I c

[2021-02-19 06:05] thadius856 commented on #121
Same issue for me. The process seems to start briefly, but writes nothing to the log files, then immediately quit before showing anything on screen.

Experimental CL143604
SML v2.2.1
Smart! 0.16.0 (2021-02-16 18:53:30 PM)

[2021-02-19 07:03] Algalish commented on #121
@thadius856

You are using experimental branch, the mods are not working on it yet.

@CoolHandDevil505
Are you sure the you are playing Early Acess and not Experimental?

[2021-02-19 07:24] ek0100 opened #122 "Crash when using stackable conveyors 0.16"
Everything works great when creating belts with the stackable conveyors, but I run into this crash whenever I first add items onto the belts.  It seems to work okay after reloading

Assertion failed: (Index >= 0) & (Index < ArrayNum) [File:d:\ws\sb-201123102323-c9f\ue4\engine\source\runtime\core\public\Containers/Array.h] [Line: 611] Array index out of bounds: 25 from an array of size 25

[2021-02-19 07:26] Algalish commented on #122
@ek0100  I had this problem but did a lot of tests and was not able to repeat it.
ok, so now I know that it is still present. will try to fix it asap

[2021-02-19 08:00] ek0100 commented on #122
It's oddly inconsistent, and difficult to reproduce...I'll reload and perform the same steps that led to the crash, and it works normally...but if I splice onto a different belt, or the same belt at a different location, it may cause the crash again.  I'll update if I notice a pattern or anything that may help troubleshoot this.  Thanks for the help!

[2021-02-20 03:49] LooSik commented on #118
Is it possible to get multiplayer functionality for auto-connect as well ? So far it only worked for host, in 0.16 (crashes client) / 0.15 (didn't connect but showed outlines).

[2021-02-20 03:56] camelpockets commented on #118
In my game, the host seems to control the auto-connect functionality entirely, between toggling it on and off and changing the default belts

[2021-02-20 03:57] Algalish commented on #118
@camelpockets @LooSik
I am overrun by work this week, sorry.
Making MP work with auto-connect is very important and I will take care of it ASAP.

[2021-02-20 16:08] amoriarty commented on #121
Hi,
I also have this issues since version 0.15.0. I find a quick way to "ficsit" today by going to SMM settings and in debug menu use the clear cache function.

Hopes that can help.

[2021-02-20 16:40] Algalish commented on #121
@amoriarty  You are on Early Access, not Experimental, right?

[2021-02-21 04:14] Algalish opened #123 "assembler ports are mixed-up"

[2021-02-21 05:26] joshp12345 opened #124 "When movement controls are set to ESDF, can not move forward with "E" while dismantling/building."
I use ESDF movement controls because I have long fingers. And E is the regular interact key, so something's happening there.

[2021-02-21 08:04] amoriarty commented on #121
@Algalish Yes, I'm on Early Access. Didn't try with Experimental.

[2021-02-21 13:15] velillen commented on #122
Ive been having basically the same problem. This seems to cause it every time for me...

1) Stackable Conveyors, "4" high, decently long (over 10 "sections")
2) Manual belting to hook up to resource node
3) Soon as hooked up, once the resource hits the belting that was made with the mod (step 1), it crashes.
Of note..if make the stack able Conveyors with the mod (ie step 1) and then saving the gam

[2021-02-22 10:00] LooSik commented on #118
Seems like @camelpockets is right.
Enabling connection between mergers/splitters on host seem to make it work for clients too.
But clients have no option to disable it then ( it will place them regardless of client setting )

[2021-02-22 17:57] ek0100 commented on #122
Yeah, my experience is identical to @velillen.  It seems that saving then reloading the save will avoid the crash without needing to restart the game completely.

[2021-02-24 11:15] CoolHandDevil505 commented on #121
I have not playing on EA since update III, and your mod worked fine until maybe version 12 or 13. Then I stop playing for a few weeks (a shame I know), and discover what described earlier. I tried immediately launching on EA, but apparently had an issue with my cloud saves, and did not see it because I launched from SMM. And I did not know that the mod was not for Exp branch. So I am sorry for thi

[2021-02-26 16:21] Yoeghoert commented on #122
Same here,
Have been testing some stuff to avoid it. Without any succes.
The stackable conveyor poles have a placing 'direction' but that doesn't have anything to do with it.
It seems to be triggering on the moment that the added material starts stacking on the belt due to being full.
Once your SMART belt length is fully filled the game crashes.

Best to prep all belts. Save game, reload and than

[2021-03-04 16:18] Algalish opened #125 "Request to build with lifts"
https://media.discordapp.net/attachments/777233974878797895/812611904467894312/unknown.png?width=1155&height=650

[2021-03-04 16:19] Algalish opened #126 "Conveyours are 2d instead of 3d for auto-connect for different levels"
https://cdn.discordapp.com/attachments/777233974878797895/812614368091963421/unknown.png

[2021-03-04 16:34] Algalish opened #127 "set default spacing for poles to 22 so it will match 3 tiles of foundations"

[2021-03-05 20:32] dempsey001 commented on #124
Confirmed. I have this same issue as I use the ESDF to provide more buttons around my main nav keys for all games. The issue seems to be when you have a smart capable item activated on the build tool preparing to build. You can then use the other nav keys but not forward. (I checked using a different forward key and it doesn't work there either. Seems like it is only responding to W)

I validated

[2021-03-05 20:47] Algalish commented on #124
@dempsey001 @joshp12345
E key is reserved for "Elevate" function for Smart!
I can add the ability to turn it off in settings or add the ability to re-map it to another key.

[2021-03-05 22:13] dempsey001 commented on #124
A key remap would be solid fix. I'd hate to lose (or need to disable) the elevate option because of nav keybinds.

[2021-03-06 10:55] DarAmetis commented on #124
@Algalish

I don't have a problem as an author, but I'd love to see the key remapping.
I don't like hotkeys on P, T, U - too far. I would like to be able to reassign everything for yourself.

[2021-03-06 11:07] DarAmetis opened #128 "[Issue] Auto-connect work only in 2 of 3 positions"
All on screenshots

![Screenshot_1](https://user-images.githubusercontent.com/76752782/110204636-24517380-7e85-11eb-833f-20192f29abc7.png)
![Screenshot_3](https://user-images.githubusercontent.com/76752782/110204637-2adfeb00-7e85-11eb-82de-f802cba8e1c3.png)
![Screenshot_4](https://user-images.githubusercontent.com/76752782/110204641-2fa49f00-7e85-11eb-8b59-3602a5f2db47.png)

[2021-03-06 11:10] DarAmetis commented on #128
And this dont work too
![Screenshot_2](https://user-images.githubusercontent.com/76752782/110204718-9de96180-7e85-11eb-8eb7-3c2c378211db.png)

[2021-03-06 11:26] DarAmetis opened #129 "[Feature] Auto-connect for conveyors"
I would also like to see the feature of automatic creation of pipelines between the nearest points of attachment. If that's even possible.

![Screenshot_5](https://user-images.githubusercontent.com/76752782/110205174-dab65800-7e87-11eb-898d-37b658a0e600.png)

[2021-03-06 15:36] Algalish commented on #129
yep, that is in progress

[2021-03-06 15:37] Algalish commented on #128
@DarAmetis  never intended for it to work that way. but maybe in the future will handle it.
but for now - too much work writing all that conditions. the code is insanely complex as is.
unless a lot of people will ask for this

[2021-03-07 17:38] JDLanyon opened #130 "Stacking splitters or mergers provides the wrong belt connection"
When stacking splitters and/or mergers, attempting to use multiple splitters/mergers with spacing results in the first belt being 1 lower than expected. (must have belts automatically connect)

[An unlisted 40 second video can be found here.](https://youtu.be/CacKWSxESME)

[2021-03-07 21:53] LooSik commented on #82
Would be great to have this working for wall outlets as well.

[2021-03-08 11:46] Algalish commented on #122
@ek0100 @Yoeghoert @velillen
After countless attempts it looks like there is nothing I can do about it. Because it is not directly crashing for the mod but for the game itself.
I reached out to CSS and they agreed to take a look at that.
There are 2 types of crashes. They said that one of them is already fixed in EXP (so will be fixed when I update the mod for update 4 of the game)
But the other o

[2021-03-09 15:14] Algalish opened #131 "Support Coal Generators for auto-connect"

[2021-03-12 14:20] SOLOnerves opened #132 "Please add support for "Painted Wall Foundation and Pipe" mod"
I love the "Smart!" mod and can't live without it, but it would be great if you added support for the "Painted Wall Foundation and Pipe" mod. here's a link to it "[https://ficsit.app/mod/87aJFK855U49Q6](https://ficsit.app/mod/87aJFK855U49Q6)".

[2021-03-12 14:52] rdelassus commented on #90
Came here to see if it was already discussed!
It's frustrating that I can't properly align on foundations on X axis when Y axis is aligned and vice versa.
I would have instinctively separated that in two keys, one for each axis. I see no reason for a toggle, since we are not toogling X and Y expansions, they are two different keys (alt and shift)

[2021-03-12 15:01] Algalish commented on #90
@rdelassus  @FaTaL6266
Thought of a solution recently that will probably fit everyone.

if you press P : you are in a spacing mode: so  shift/alt/shift+alt will alter spacing and not the size of the buildings.
press P again and you are back to normal mode.

oh and if you changed some values with a mouse wheel while holding P then X and Y dimensions will be affected, like now. and when you put your

[2021-03-12 15:57] rdelassus commented on #90
First solution looks perfect. I think there aren't many use cases for the
second feature, and it will be easier to make mistakes (moving along both
directions when you just wanted to change the toggle, but started mouse
wheeling too early).

Le ven. 12 mars 2021 à 16:02, Algalish ***@***.***> a écrit :

[2021-03-13 00:00] FaTaL6266 opened #133 "Update 4 Compatibility"
With Update 4 coming out in the next few days, do you expect the smart mod to still be compatible with the new version of the game? Obviously, you won't know for certain until the release of the update, but just wondering if you have a general idea. If you believe it will need to be worked on before it is usable, how long do you think it would take to make it compatible? #

[2021-03-13 00:56] Algalish commented on #133
This is mostly depending on how soon new header files and moding tools would be availible to us moders.
It usually takes a few hours to update the mod for new update once these tools are ready.
I don't know exactly how soon after the update those  tools would be available : but usually they are ready after 1-2 days of an update, like it happened with fluids update.
but there is also engine update

[2021-03-13 17:39] faustinobsd commented on #111
I have the same issue.

[2021-03-15 18:22] Jumbo-storm opened #134 "Auto connect to buildings suggestion."
I want that you are gonna update so, auto-connect to buildings is right.
(Before it sad with splitters and mergers. But now it says just: "Auto-connect to buildings".)
And it does not auto-connect to buildings.

For example:
Auto-connect from smelter to constructor, directly. (If you don't want splitters, between.)
Connect constructor to constructor. (Iron road to Screw, example. That needs constr

[2021-03-18 18:37] sergeylamzin opened #135 "Upgrade all connected conveyors"
I love this mod. Super awesome!
I am planning on starting a new playthrough for U4 and one thign I find extremely annoying is having to upgrade all conveyor segments on your main bus throughout the game.
Any chance you could add a function to mass upgrade all conveyors/lifts that are connected through any number of splitters/mergers/lifts?

[2021-03-20 03:17] pcman312 opened #136 "Placing splitters sometimes crashes multiplayer client"
I've been playing a game with a friend where we're using Smart! and when he goes to place a splitter his game will sometimes crash. We haven't noticed a specific pattern to when the crash occurs yet, but it's definitely happening when he goes to place the splitter (not select it from the build menu). The next time it happens I'll try to grab the stack trace and post it here.

We are both on satisf

[2021-03-20 03:32] pcman312 commented on #136
Got a stack trace:
[code]

It looked like it may have been related to auto connecting to a constructor that he had placed, but we're not 100% sure that was the case.

[2021-03-21 14:28] StefanR23 commented on #128
Title is misleading.
it's not "2 of 3"  . All 3 positions for a splitters are working.
Your request belongs to a merger. And mergers as an input for a series of factories makes no sense.

[2021-03-21 14:33] StefanR23 commented on #120
It would be really cool  to decide on Z height if someone wants to have one the ground floor.
Personally I like to have 2 level above the ground to walk underneath the belts. And then it has the same height as the machine itself

![image](https://user-images.githubusercontent.com/81093991/111908739-98ca0c00-8a5a-11eb-9f61-a668b05448be.png)

To have different directions on the level is not necessar

[2021-03-22 02:14] Algalish commented on #120
@CYRUS1469 @StefanR23
I will look into that guys.

[2021-03-22 02:15] Algalish commented on #136
@pcman312
I will look into that, thx for the report.

[2021-03-22 02:18] Algalish commented on #135
@sergeylamzin I thought about it but haven't tried that yet. No plans for this right now but maybe in a month or two I will look into that and do something like that.

Maybe if you do an upgrade for one of the belts and the system scans for all connected belts and also upgrades them - that could be a good idea. But need to test if this is possible to implement

[2021-03-22 02:22] Algalish commented on #134
@Jumbo-storm
I think I understand what you mean and it would be super cool to have something like that in game.
I honestly don't know how long it will take me but I like the idea and will look into that.

[2021-03-22 02:23] Algalish commented on #132
@SOLOnerves
I will try to add the mod in the next updates, looks cool

[2021-03-22 02:28] Algalish commented on #98
@CAGalvez
@Einstein725
@Thunde33

It is possible that Moar factory will not be updated for Update 4 of the game.
So it will be either completely gone or someone will re-create the mod and make it a new mod.
Or the mod author will support it for update 4.

So, after anything of the above happens - I will add support to Smart! right away.

[2021-03-22 02:33] Algalish commented on #18
@zzubnik  just noticed your reply, because it was no the closed issue.
yes, there is an alternative controls for left handed people, you can turn it on in mod's settings

[2021-03-23 19:42] Temujin2887 opened #137 "[Feature] Dismantle connected belt(s) when dismantling building"
It would be really nice if there was an option to have dismantling a building also dismantle the belts connected to that building.

[2021-03-23 19:50] Temujin2887 opened #138 "[Feature] Auto-connect for storage (single/double)"
It would be nice if mergers/splitters would auto connect to storage containers.
It would also be nice if when creating an grid of containers they auto-connect in a daisy chain for bulk storage.
3 x 4 storage daisy chain example:
X > X > X > X
X > X > X > X
X > X > X > X

[2021-03-24 02:30] Algalish commented on #138
@Temujin2887
Yep, I will definitely implement that.

[2021-03-24 02:34] Algalish commented on #137
@Temujin2887
But it should be togglable, yes?
Like if you hold Shift - then they will be dismantled, and if not - then not?
What do you think is best?

[2021-03-24 03:16] Temujin2887 commented on #137
Can it be both a setting and a modifier key?
Dismantle connected belts (Default: False)
Dismantle+Shift inverts that bool
That way you can set your preference for what you do most of the time, and then use the modifier for a quick removal in the opposite mode?

If all that's too complicated, then just a Shift+Dismantle to delete connected is probably fine as long as it works with mass dismantle to

[2021-03-24 17:32] juracite commented on #136
Have the same issue, i actually can't use the mod when i need to place any type of splitters, i didn't keep the stacktrace, i'll try to get this one asap if needed.

[2021-03-24 17:34] Algalish commented on #136
@juracite  no need, I know about the problem.
just hold on, will post and update this week with that fix

[2021-03-27 14:14] Temujin2887 opened #139 "[Feature] Smart Power Outlets/Poles"
With the new hoverpack, I'm finding myself making lines/grids of ceiling power outlets and its super tedious. The exact thing Smart! is good at fixing! :P Can we get these added (with connecting lines) so we can quickly drop out spaced out ceiling power grids (or outside power pole grids/lines)

[2021-04-03 03:29] pcman312 commented on #136
Any update on this? When we disable auto-connect we don't seem to get the crash any longer so we at least have a workaround.

[2021-04-05 01:06] Swamp-Ig commented on #109
You can hold down shift and alt and move down the scroll wheel to move it back to one level if you want.

[2021-04-05 01:10] Swamp-Ig opened #140 "Ability to turn off smart connect with a hotkey."
Hi, I love auto-connect, but sometimes it doesn't do what I want.

It would be good if we could toggle auto-connect with a simple hot-key. Maybe default start with it on, but the hot key turns it off for one shot.

[2021-04-05 13:43] odoucet commented on #133
no header file available yet ?

[2021-04-05 17:48] Algalish commented on #133
@odoucet  nope, no mod can work on update 4 yet

[2021-04-05 17:48] Algalish commented on #140
@Swamp-Ig  yep, I will implement something like that

[2021-04-10 18:15] Vassi commented on #125
+1, I feel like there's a lot of ways to skin this cat and I'm not sure you can make everyone happy. For instance, I like to put three splitters on the left belt and then make the lift face towards it.

For now, I've had to turn off auto-connect when connecting a bunch of assemblers because I just end up having to delete a lot of splitters and stuff and it gets messy.

Small price to pay for every

[2021-04-13 00:06] kellertk commented on #133
@Algalish Looks like SML and SMM just released Update 4 compatibility. Looking forward to using Smart! again :)

[2021-04-13 17:26] matthock commented on #133
Keep in mind that Smart! is relatively complex, so it may take a few days to upgrade. Still, it's great news, and thank you so much @Algalish for your hard work on it!

[2021-04-13 17:28] Algalish commented on #133
@matthock Yep, and because game changed a lot - some thing may be broken and will require a fix.
Life is just crazy these days, don't have a lot of time. But I will dedicate this whole Friday for updating Smart! , so hold on guys.

[2021-04-13 17:30] devotoare commented on #133
@Algalish Thanks for all your work!

[2021-04-14 12:36] HelpIamHavingProblem opened #141 "Pressing LSHIFT doesn't work"
I'm pressing LSHIFT while I have the Foundation out and nothing's happening

[2021-04-14 13:39] SiD-23RUS commented on #141
Smart still doesn't work on CL150216 (tried on Steam and Epic clients)

[2021-04-14 15:24] Mattia9875 commented on #141
Is there any plan to make it work? (Asking because of the low activity during the month)

[2021-04-14 16:39] Algalish commented on #141
@Mattia9875  @HelpIamHavingProblem  @SiD-23RUS
This is probably because the mod is not working for Update4 of the game.
I will update the mod for Update4 of the game on the 16 of April (Friday) to make it work.

[2021-04-14 16:53] HelpIamHavingProblem commented on #141
Oh okay, thanks!

[2021-04-14 16:53] #141 closed

[2021-04-14 19:33] orkide628 opened #142 "Update 4"
Will you update smart mod and compatible with update 4 Satisfactory.If you will do, when you will. Thanks

[2021-04-14 19:46] dalex4444 commented on #142
Would Like that as well.

[2021-04-14 20:36] javacupix commented on #142
Update planned on Friday https://github.com/Algalish/SmartIssueTracker/issues/141#issuecomment-819659628

[2021-04-14 20:50] orkide628 commented on #142
Oh, thank you so much! I missed issue 141

[2021-04-14 20:50] #142 closed

[2021-04-15 09:34] SiD-23RUS commented on #141
Thank you very much! We all will wait for it! Awesome mod!

[2021-04-16 17:50] andyryan869 commented on #133
@Algalish I understand you are working on smart mod today is that why it is not showing up in game yet even though SMM says it is compatible? can not wait for it it is really hard to play with out the smart mod when you start over takes for ever to place a few hundred foundations love your work and all the extra things you have added and that you are still adding in to it can't wait to see what fu

[2021-04-16 21:24] FaTaL6266 commented on #133
I'll just throw this out there, if you ever want help, I've been working on learning UE4 coding and designing and stuff and would be glad to learn how to create mods for a game like Satisfactory. Love your work and hope to see 'Smart!' up and running soon. It's hands down the best mod out there in my opinion.

[2021-04-19 07:56] OspreyGozo commented on #133
Thanks for your dedication! Looking forward to the update to version 4. Once one has tasted Smart!, it is hard to go back to the old ways.

[2021-04-19 15:04] Algalish commented on #133
![Screenshot_132](https://user-images.githubusercontent.com/1682176/115258384-9cc07b00-a139-11eb-9d37-96a7fa0bf598.png)
Soon™

[2021-04-20 02:53] Algalish opened #143 "Don't allow water turbines to be stacked vertically"

[2021-04-20 08:13] benipk opened #144 "Unable to open selection wheel when any building that can be duplicated is selected"
Title.

[2021-04-21 15:37] Merkury90 commented on #133
Can't wait for new version. Not possible for me to play the game without this mod after I got used to all it's functions ;)

[2021-04-21 16:46] OspreyGozo commented on #133
Same here!

[2021-04-21 17:29] escidmore opened #146 "Blenders, Power Storage, and Power Switch don't appear to be supported"
Steps to reproduce:

1) Start building a blender, power storage, or power switch
2) Hold shift and scroll to try to increase number of items built

Expected result: Smart will allow you to build multiple items in a line

Actual result: Smart does not appear to do anything; building rotates, as it would with the mouse wheel normally

[2021-04-21 17:32] escidmore commented on #146
This appears to be true for the drone port and all lights as well.

May be true for particle accelerator, but I don't have it unlocked in my world currently.

[2021-04-21 22:39] Algalish commented on #133
Thank you all for waiting

[2021-04-21 22:39] #133 closed

[2021-04-22 03:31] Algalish commented on #146
yep, those are new things that I haven't supported yet. but will be soon

[2021-04-22 06:16] tonyorell95 opened #147 "Twirl is not working"
when twirling it offset the whole block instead of each individual piece

[2021-04-22 08:56] sloisel opened #148 "Plugin 'SmartFoundations' failed to load because module 'SmartFoundations' could not be found."
Hi.

I have the game on Steam, and I downloaded the mod manager from ficsit.app. From the mod manager, I installed "Smart" and launched "Satisfactory". I get a modal dialog box with the error message in the title of this post, and then "Satisfactory" exits.

At this point, I cannot use "Smart" at all.

[2021-04-22 09:06] Algalish commented on #148
Hi! This is a very common problem and here are the solutions below
1) Please make sure your game is of the last version (it was updated  1 day ago)
2) Make sure that Satisfactory Mod Manager has the latest version. If it is - reinstall it again.

[2021-04-22 09:33] inwestygator commented on #148
I had the same issue, mod manager reinstall was required.

[2021-04-22 10:09] sloisel commented on #148
I don't know what I did, but it fixed itself. Thanks for the must-have mod!

[2021-04-22 10:09] #148 closed

[2021-04-22 14:27] inwestygator commented on #144
I can confirm: seems like the mod overwrites the hotkey fonctionalities and does not bypass 'E' for the Quick Switch radial menu, wherever the mod gives the availability for mass assembly.

[2021-04-22 14:33] litlleblackman opened #149 "CTD after placing Merger/Splitter @StorageContainer"
Steps to reproduce:
1. Place Container
2. Place Merger/Splitter by holding Shift
3. CTD

CrashReport:

Assertion failed: Cast<AFGBuildableConveyorBase>( mSnappedConection->GetOwner() ) [File:D:/ws/SB-160502110050-fad/UE4/Games/FactoryGame/Source/FactoryGame/Private/Hologram/FGConveyorAttachmentHologram.cpp] [Line: 433] make sure we are only connecting to conveyors
UE4_Core_Win64_Shipping!AssertFai

[2021-04-22 15:51] matthock commented on #144
Being able to disable/change this key is by far my #1 needed updated. I have become even more addicted to the radial menu than to Smart! in the short time I've had it.

[2021-04-22 20:24] Algalish commented on #144
Yes, this is a known bug and will be fixed very soon

[2021-04-22 20:38] Algalish commented on #149
interesting crash. I will have a look

[2021-04-23 14:36] VituaT opened #150 "The game does not start with the mod enabled"
The game does not start with the mod enabled. When i start the game, it displays the following message
![IMG_1595](https://user-images.githubusercontent.com/83079762/115887261-6e54df80-a45a-11eb-950b-19390612c7ab.jpg)

[2021-04-23 17:34] inwestygator commented on #150
For me mod and mod manager reinstall solved this issue.

[2021-04-23 20:04] VituaT commented on #150
I tried game and manager reinstall

[2021-04-23 21:31] Veldian78 opened #151 "[Feature] X3-Roads"
When trying to use the X3-Roads with SMART to place more then 1 at a time using ALT and SHIFT it does not work i've uninstalled and reinstalled both mods thinking it might be a download issue but it still does not work.

[2021-04-23 21:32] Veldian78 commented on #150
i had that then removed the mod closed launcher, restarted PC... then opened launcher and installed mod again and it fixed it

[2021-04-23 22:31] Algalish commented on #150
@VituaT  you need to clear cache in SMM. Or create a new profile in SMM - that also helps

[2021-04-23 22:31] Algalish commented on #150
oh god, I am so tired of this popular problem of SMM

[2021-04-23 22:56] HaoNanLin98 opened #152 "启动器安装好MOD后，进游戏后没有MODS标识，进入存档也没有效果"
![image](https://user-images.githubusercontent.com/83098551/115937236-fde5a700-a4c9-11eb-8083-5e82e80a7c89.png)
![184539BB5A84360520F2D4C10377B3AA](https://user-images.githubusercontent.com/83098551/115937286-2b325500-a4ca-11eb-9d2a-dd8f91656272.png)

[2021-04-23 23:06] Algalish commented on #151
I urge you to read update descriptions before opening issues.
The current version does not have support for other mods because of the U4 update.
It will be back ASAP

[2021-04-23 23:06] #151 closed

[2021-04-24 02:49] nbrugger-tgm commented on #152
This issue seems very unspecific can you may clarify the problem in English language?

[2021-04-24 02:50] nbrugger-tgm commented on #146
Same goes for packagers

[2021-04-24 03:00] nbrugger-tgm commented on #126
This doesn't works for me at all. Autoconnect doesn't pay attention to height difference and the belt just goes verticaly

[2021-04-24 04:43] Gavenator opened #153 "Belts flickering when using auto-connect"
When connecting splitters and mergers to buildings using auto-connect the hologram of the belts flicker.

Link to video of issue:
https://i.gyazo.com/6cff0dc11892fd59fd1b306fd79d57f2.mp4

[2021-04-24 04:47] Algalish commented on #152
@HaoNanLin98  You are using SML version 2.2.1 and you need to install SML v3.
Just create a new Profile and install mods again

[2021-04-24 06:02] VituaT commented on #150
Clearing cache and creating new profile is not work.

[2021-04-24 06:40] Algalish commented on #150
@VituaT  Are you starting the game from SMM or from Steam/Epic?
You need to run it from SMM

[2021-04-24 06:57] VituaT commented on #150
From SMM

[2021-04-24 07:57] UnknwnSoldier opened #154 "Need key rebind support"
Can we please get the ability to change the keys used for SMART functions?  I use ESDF for movement so the E key interferes with my ability to move around while doing certain SMART tasks.

[2021-04-24 08:49] deimosx6 opened #155 "instant machines auto-connect function"
please add auto-connect to instant machines

[2021-04-24 10:26] Algalish commented on #155
what are instant machines? a mod?

[2021-04-24 11:42] LegionsNecro666 commented on #155
Yes Instant Machines are a Mod designed by Andre Aquilla, it allows resources to be instantly made without a crafting timer. Your smart mod works on it with the machines but the auto connect still not working. Thanks again for your hard work and determination for creating the best mod for satisfactory, Smart should be enabled by default in vanilla. Well done.

[2021-04-24 15:43] arw82 opened #156 "Settings window confusing, missing a lot of labels and tooltips"
Not sure if this is intended. It's not at all clear what many checkboxes/pulldown boxes are for.

![image](https://user-images.githubusercontent.com/20416661/115964323-1dd49500-a4e1-11eb-8cf3-991b44a186f3.png)

Game build 151248, Mod version 1.0.0

[2021-04-24 19:03] Sebastiaanv2 commented on #156
Experiencing the same issue

[2021-04-25 03:16] Algalish commented on #156
@sctprog  @Sebastiaanv2
As I said in the update notes - the settings screen is fracked up for now and settings are not saved. I will fix it as soon as I can.

[2021-04-25 03:17] Algalish commented on #154
I will try to move all the keys settings to the native game settings menu. but no ETA on that

[2021-04-25 03:18] Algalish commented on #150
All the people that experienced this are ok now. So you need to do it all once again - Re-install the SMM with the new launcher. create a new profile, without doing a copy of the old one (so it will be blank)- add some mods there and run the game. hope that helps

[2021-04-25 03:21] sctprog commented on #156
Missed that, thank you!

[2021-04-25 13:09] Sebastiaanv2 commented on #156
my bad aswell, seem to have missed that, thanks

[2021-04-25 15:14] stefanrusso commented on #147
I'm experiencing this same issue.  Instead of all blocks being shifted relative to the blocks they're attached to, only the "root" block stays in place and everything else shifts as a whole.

![20210425111115_1](https://user-images.githubusercontent.com/1565266/115998834-2a2b2180-a5b7-11eb-9daa-0f2cda024b3a.jpg)

[2021-04-26 02:16] Algalish commented on #147
hold on there guys, will fix in the next update

[2021-04-26 09:28] mettall61 opened #157 "Installation of water pumps."
Problem with installing water pumps.
When the mode is on, it does not allow pumping in the swamps.
You turn off the mod, everything is installed normally.
Forgive me my English, we are not local.

[2021-04-26 12:20] Algalish opened #158 "auto-connect does not work with MK++ buildings"

[2021-04-26 12:26] AzoR2b commented on #157
I have the same issue

[2021-04-26 13:49] Discobuble opened #159 "Water Extractor snapping"
Seems the Smart! mod is disabling snapping on Water Extractors. Tried with all 3 mods I'm using, without, and just each induvially. And it only happends when Smart! is enabled. And I can't seem to see anything in the settings to change how CTRL interacts with the mod.

[2021-04-26 17:36] VituaT commented on #150
I tried again, stil without effect.

[2021-04-26 17:54] VituaT commented on #150
Game is working with MK++ mod. Some mods (for example Mini map, more milestones +100) also works.

[2021-04-27 01:23] Algalish commented on #150
@VituaT  Please go to modding discord - this problem is explained there many times. People will be able to help you better then me
https://discord.gg/pq8As6qD

[2021-04-27 21:40] #150 closed

[2021-04-28 17:31] JKamsker commented on #147
Any plans when said update is scheduled?

[2021-04-28 18:14] JKamsker opened #160 "Autoconnect does not work on foundaries"
merging gives this:
![image](https://user-images.githubusercontent.com/11245306/116452717-4f8d8900-a85e-11eb-98c4-83776368dac3.png)

Cannot adjust the distance. It's somehow an invalid fixed size

[2021-04-29 11:13] Algalish commented on #160
auto-connect only works if the buildings are close to each other , without spaces.
at least for now it is how it works

[2021-04-29 12:04] yinchuzhou opened #161 "Unable to load SMART! MOD!!!"
![无标题](https://user-images.githubusercontent.com/40012444/116547766-e709df00-a925-11eb-86c8-798fe52428ba.png)
Is there a solution?

[2021-04-29 12:08] yinchuzhou commented on #161
The module "smartfoundations" could not be found, so the plug-in "smartfoundations" failed to load.Make sure the plug-in is installed correctly, or consider disabling it in your project.

[2021-04-29 17:10] Algalish commented on #161
@yinchuzhou  this is a very popular problem, not related to the mod.
1) reinstall SMM from the new launcher from the website
2) remove your existing SMM profile and create an empty one
3) add mods to this new empty profile
4) launch the game from the SMM, not directly

and the problem should be gone

[2021-04-29 17:10] Algalish commented on #152
@HaoNanLin98  this is a very popular problem, not related to the mod.
1) reinstall SMM from the new launcher from the website
2) remove your existing SMM profile and create an empty one
3) add mods to this new empty profile
4) launch the game from the SMM, not directly

and the problem should be gone

[2021-04-29 17:10] #152 closed

[2021-04-30 14:34] Algalish commented on #147
@JKamsker probably at the end of this weekend

[2021-05-01 21:10] Algalish opened #162 "Smart support for ceiling lights would also be awesome"

[2021-05-02 06:49] Algalish opened #163 "Can you make it so you can smart build blenders, and power storages please?"

[2021-05-03 08:57] yinchuzhou commented on #161
The above methods have been tried, but the problem still can't be solved. Other mods can be used.

[2021-05-03 10:53] sirsamon commented on #161
Hi There, i have the exact same error, i have tried above and a few different options

[2021-05-03 11:10] Algalish commented on #161
Are you guys on experimental by any chance?

[2021-05-03 11:31] sirsamon commented on #161
yes i am

[2021-05-03 12:01] Algalish commented on #161
please switch to EearlyEccess instead of Experimental for now

[2021-05-03 12:01] #161 closed

[2021-05-05 05:56] Marix54 opened #164 "Missing some plugin."
Hello,
after downloading Smart foundations mode, i can't start Satisfactory.

![Výstřižek](https://user-images.githubusercontent.com/83689865/117101750-32354f00-ad77-11eb-9643-1dd32972cfb8.PNG)

Do you now how to repair it?

[2021-05-05 06:21] FaillordXD commented on #164
I had something similar i changed to an older version (16.0) and it works.
Version 16.2.0 did not work for me.

![Satisfactory 16_2](https://user-images.githubusercontent.com/83690972/117103385-91e12980-ad7a-11eb-9d5a-5b215dd4f016.PNG)

[2021-05-05 06:28] Algalish commented on #164
@Marix54 @FaillordXD Are you guys by any chance on EXP version  of the game?
If yes - then please wait for an update

[2021-05-05 06:29] FaillordXD commented on #164
Yes I am

[2021-05-05 06:56] Marix54 commented on #164
No, I'm on normal early access. I tried old mod version too, but with same result.

[2021-05-05 09:01] Algalish commented on #164
make sure that SMM is updated and create a new profile for SMM and make sure to launch the game from SMM

[2021-05-05 11:01] ivmakk commented on #164
@Marix54 for me helped downgrading SatisfactoryModManager to [v2.4.3](https://github.com/satisfactorymodding/SatisfactoryModManager/releases/tag/v2.4.3) (it's compatible with the Steam Early Access v 0.4.2.0).

[2021-05-06 02:21] bandycj opened #165 "Left shift not recognized on macOS via steamlink"
Smart does not recognize when left shift is pressed while building when playing on macOS 11.3 via steamlink to a windows 10 PC. The game does recognize left shift when binding keys in the game settings so it is correctly being relayed to the game.

I realize this is an edge case but I figured I'd file a bug incase it was a simple "look for additional key codes" kind of fix.

Thanks :)

[2021-05-06 08:05] rado92 commented on #160
wait....you can auto connect?

[2021-05-06 08:32] Algalish commented on #160
@rado92  https://youtu.be/-HbCKSABeWE
and the next one

[2021-05-06 11:29] rado92 commented on #160
@Algalish amazing work man. you make this game so much better. I cant wait for your mod to work with smm 3.1.0

[2021-05-06 18:45] Marix54 commented on #164
@ivmakk Thanks, it helped!

[2021-05-07 08:44] sirsamon commented on #164
I did this and all is working perfectly now, thanks very much

[2021-05-07 23:25] kovila77 opened #166 "Refinery autoconnect input problem"
When locate spliter closely to input of refinery (with autoconnect ON), the belt appeared inside refinery. This look like no belts.
![Снимок экрана 2021-05-08 041919](https://user-images.githubusercontent.com/46498109/117517371-49618000-afb5-11eb-9365-8ea2d3cb3410.png)

[2021-05-08 12:33] stanfear commented on #154
Hi !
I'd also love to have rebinding available (even if through a config file)
I use OKLM (on an AZERTY keyboard) for movement, and not being able to move right when building is enough to make the mod unusable. (only pressing M when building to open menu is nice, and allows to move around even without the menu poping up, but it is not enough sadly)

please do something soon (like I said, config fi

[2021-05-08 13:56] flixs123 opened #167 "belt auto connect Manufacturer doesn't work"
Hi there,
I noticed all other buldings than the manufacturer auto connect splitter+belts for me. not input and not the output.

thanks for taking a look :)

[2021-05-08 15:19] NKLzz opened #168 "Error while starting game"
Hi,

I get the followed error if I start Satifactory with the Smart! mod.
Other mods don´t cause any issues and are playable.

SML version: 2.4.3
Satisfactory version: Early Access CL#151248
Used version Smart!: Latest

![Unbenannt](https://user-images.githubusercontent.com/83875091/117544241-d857b200-b020-11eb-9b8b-2dfd5f3df9a3.PNG)

Can I somehow fix this problem?

[2021-05-08 19:06] benley commented on #154
Another request for key rebinding! I use a left-handed mouse, and IJKL for normal movement so L conflicts with this mod.

Is there currently a way of changing the keybindings by editing a config file on disk, or something like that?

[2021-05-08 19:23] Algalish commented on #154
will try to make ALL the keys re-bindable in the next few weeks

[2021-05-08 22:50] Algalish commented on #168
@NKLzz  The latest version works only on EXP, not EA as stated in the description. This patch will soon hit EA and then Smart! will work on EA without update

[2021-05-09 13:46] niightly opened #169 "Power Storage Mk++ Support not working [Version 16.3.1]"
I saw in the recent version the support for mk++ power storage support was added, but SHIFT other commands do not work, it just rotates the building.

BTW, your mod is awesome, I think it should be added permanently on the game :D (and you hired as well)
Great thinking man.

[2021-05-09 15:03] #160 closed

[2021-05-09 17:47] DovaChicken opened #170 "Staking Conveyor Supports Don't All Connect"
When using multiple of the auto connect smart conveyors all but the first and last of the conveyors can be connected to via another belt.

**To Reproduce**
Steps to reproduce the behavior:
1. Produce more than 1 line of auto connect belts
2. try and connect belts to any of the conveyor pole middle sections or most ends

 - Game Branch: [e.g. Early Access]
 - Game Type Epic,]
 - Game Version [e.g.

[2021-05-09 17:59] NKLzz commented on #168
Ok cool thanks!
I do use steam tho.

I´ll wait for the update :)

[2021-05-09 17:59] #168 closed

[2021-05-10 04:16] Natsirt21 opened #171 "Bug convoyor belt stack big bug"
Video https://www.youtube.com/watch?v=SNrka0rja40

 - Game Branch: Early Access
 - Game Type Epic
 - Game Version CL151248
 - Mod Type Public
 - Mod Version 16.3.1             https://gyazo.com/bb2d2417675437e2cdf8b7dcb2a69d91
 - SMM/SML Version 3.0.0 ?   https://gyazo.com/d00b640413008ab37588857ba5cdf8d2

[2021-05-10 04:18] Natsirt21 commented on #170
I have the same one https://www.youtube.com/watch?v=SNrka0rja40

[2021-05-12 11:03] SingingFluffyUK opened #172 "Array crash"
sorry all the info you wanted overwhelms me ...

Recently started to use the belt conveyor feature ... since then getting very frequent crashes with array errors.

Temp removed the mod and crashes have stopped.  Will install again in the hopes they do not return.

[2021-05-12 12:25] Algalish commented on #172
@SingingFluffyUK
Have you read mod description or update description or FAQ at discord?
This is the most common problem and the only way to solve it for now is to save the game after building long auto-connected belts and then load the game right away. then, when items travel on those belts - the game will not crash.
Hope that helps!

[2021-05-13 16:50] flixs123 opened #174 "water extractor doesn't work anymore"
**Describe the bug**
water extractor doesn't work/copy anymore

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshot of the mod's configuration**
Please add a screenshot with the settings screen so that we could understand better what is going on.

**Screenshots/videos**
If applicable, add screenshots/videos to help

[2021-05-15 03:32] Algalish commented on #2
This is a new feature.  New features are now in discord ( https://discord.gg/mUKAb9Br ) and only bugs are left here.

[2021-05-15 03:32] #2 closed

[2021-05-15 03:33] Algalish commented on #4
This is a new feature.  New features are now in discord ( https://discord.gg/mUKAb9Br ) and only bugs are left here.

[2021-05-15 03:33] #4 closed

[2021-05-15 03:34] Algalish commented on #17
This is done in 16.3 with the "R" button. For now it saves automatically the last configuration and restores by pressing "R"

[2021-05-15 03:34] #17 closed

[2021-05-15 03:39] Algalish commented on #22
I will probably support the mod once its updated to U4

Closing for now, because new features are now in discord ( https://discord.gg/mUKAb9Br ) and only bugs are left here.

[2021-05-15 03:39] #22 closed

[2021-05-15 03:39] Algalish commented on #42
This was done a long time ago, closing

[2021-05-15 03:39] #42 closed

[2021-05-15 03:41] Algalish commented on #24
Since MoarFactory is not updated to U4 yet - I can't support it. Will wait and see how it plays out.

[2021-05-15 03:41] #24 closed

[2021-05-15 03:42] Algalish commented on #51
This is a new feature.  New features are now in discord ( https://discord.gg/mUKAb9Br ) and only bugs are left here.

[2021-05-15 03:42] #51 closed

[2021-05-15 03:49] Algalish commented on #165
Sorry, but there is no way for me to test that. Maybe when I'll make the keys completey customazable - you could remap Shift.
I can try adding RightShift but that can break some other logic, so its probably better for you to wait for the key-remap or build with arrows

[2021-05-15 03:49] #165 closed

[2021-05-15 03:50] Algalish commented on #159
Support for water extractors is removed from Smart! because there is normal snapping now

[2021-05-15 03:50] #159 closed

[2021-05-15 03:55] #164 closed

[2021-05-15 03:55] Algalish commented on #162
done in 16.3.1

[2021-05-15 03:55] #162 closed

[2021-05-15 03:56] Algalish commented on #158
works in 16.3.1 now

[2021-05-15 03:56] #158 closed

[2021-05-15 04:00] Algalish commented on #157
water extractors are disabled in mod in 16.3.1
closing the issue

[2021-05-15 04:00] #157 closed

[2021-05-15 04:03] Algalish commented on #139
I will try to add support soon.

But closing the ussue here since all new features are now in discord ( https://discord.gg/mUKAb9Br ) and only bugs are left here.

[2021-05-15 04:03] #139 closed

[2021-05-15 04:03] Algalish commented on #144
This is fixed in 16.3.1
Closing the issue

[2021-05-15 04:03] #144 closed

[2021-05-15 04:04] Algalish commented on #143
they are not supported now anyway

[2021-05-15 04:04] #143 closed

[2021-05-15 04:05] Algalish commented on #138
This is a new feature.  New features are now in discord ( https://discord.gg/mUKAb9Br ) and only bugs are left here.

[2021-05-15 04:05] #138 closed

[2021-05-15 04:05] #131 closed

[2021-05-15 04:06] Algalish commented on #131
This is a new feature.  New features are now in discord ( https://discord.gg/mUKAb9Br ) and only bugs are left here.

[2021-05-15 04:07] Algalish commented on #135
This is a new feature.  New features are now in discord ( https://discord.gg/mUKAb9Br ) and only bugs are left here.

[2021-05-15 04:07] #135 closed

[2021-05-15 04:07] Algalish commented on #127
This is a new feature.  New features are now in discord ( https://discord.gg/mUKAb9Br ) and only bugs are left here.

[2021-05-15 04:07] #127 closed

[2021-05-15 04:08] Algalish commented on #147
fixed in 16.3.1

[2021-05-15 04:08] #147 closed

[2021-05-15 04:09] Algalish commented on #124
Complete remap of all keys is coming at some point, hold on.
E is now L in 16.3.1 so the main problem of that issue is fixed

[2021-05-15 04:09] #124 closed

[2021-05-15 04:10] Algalish commented on #79
This is a new feature.  New features are now in discord ( https://discord.gg/mUKAb9Br ) and only bugs are left here.

[2021-05-15 04:10] #79 closed

[2021-05-15 04:11] Algalish commented on #118
16.3.1
crash is not going to happen on clients, its just not going to work, thats it

[2021-05-15 04:11] #118 closed

[2021-05-15 04:11] Algalish commented on #111
fixed in 16.3.1

[2021-05-15 04:11] #111 closed

[2021-05-15 04:12] Algalish commented on #100
For now it is not possible to do, will come back to that later this year

[2021-05-15 04:12] #100 closed

[2021-05-15 04:12] Algalish commented on #98
Moar is not working in U4. Once it does - I will get back to that task

[2021-05-15 04:12] #98 closed

[2021-05-15 04:13] Algalish commented on #95
This is a new feature.  New features are now in discord ( https://discord.gg/mUKAb9Br ) and only bugs are left here.

[2021-05-15 04:13] #95 closed

[2021-05-15 04:14] Algalish commented on #90
This will be done soon but new features are now in discord ( https://discord.gg/mUKAb9Br ) and only bugs are left here.

[2021-05-15 04:14] #90 closed

[2021-05-15 04:14] Algalish commented on #57
This is a new feature.  New features are now in discord ( https://discord.gg/mUKAb9Br ) and only bugs are left here.

[2021-05-15 04:14] #57 closed

[2021-05-15 04:15] Algalish commented on #62
Once it is supported in U4 I will get back to that

[2021-05-15 04:15] #62 closed

[2021-05-15 04:16] Algalish commented on #29
wow, thats an old issue.
I will look into it soon butclosing the ussue here since all new features are now in discord ( https://discord.gg/mUKAb9Br ) and only bugs are left here.

[2021-05-15 04:16] #29 closed

[2021-05-15 05:12] alfons234 commented on #29
Thx and don't worry, I don't consider it longer as neccesary. With the introduction of the hold key it's easy to use the mouse wheel which is even better than repeated keypresses ;-)

[2021-05-15 12:11] Sowarie opened #175 "Not able to place Splitters in front of Fabrikator"
I play with a friend together (he is the Host), over all all goes fine but i cant place Splitter in front of the Fabrikator. He as the host get`s the normal from the mod generated models for the splitters but i dont get that and i cant even place them.

![Screenshot (5)](https://user-images.githubusercontent.com/84231768/118360273-2de31000-b587-11eb-91bf-bcfd3a1cb211.png)
![Screenshot (6)](https:/

[2021-05-25 21:36] DesktopMan commented on #82
Power poles and wall outlets would be great.

[2021-05-28 20:35] juracite commented on #136
I'd like to know if there is an update about this bug too

[2021-05-29 03:56] Algalish opened #176 "splitters problem"
Splitters refuse to place as a client in multiplayer. i tried disabling all the conveyor connecting options, but it does not resolve the issue. only happens when you try o place splitter with is input facing adjacent to the production buildings input. bad sketch for reference. LOVE THE MOD!

https://cdn.discordapp.com/attachments/799100491761451028/846409935587246090/splitter_bug.png

[2021-05-30 01:22] Algalish opened #177 "Add support for Auto Splitters mod"

[2021-05-31 02:28] Algalish opened #178 "Memory issues"
You may want to impose limits on number of buildable items.  It crashes on me consistently.
[13:01] dl748: a 600x600 foundation crashes every time for me, so i tried 600x300, and that crashes too... 600x100 crashed every other time for me, 600x50 seemed to be ok, except if you use R to repeat, then every R crashes. looks like 600x50 is good if i manually do it every time
[13:05] dl748: Its also po

[2021-06-03 09:16] Algalish opened #179 "Auto-connect stopped working with FastLogistics mod after U4"

[2021-06-04 12:31] azeroth2b commented on #140
Came here looking for this issue, was not disappointed.

[2021-06-30 09:21] Pedrat commented on #129
i was just wondering if this got any attention or is it dropped? thanks!

[2021-07-11 18:03] Algalish commented on #179
fixed in V17

[2021-07-11 18:03] #179 closed

[2021-07-11 18:04] Algalish commented on #177
Done in V17

[2021-07-11 18:04] #177 closed

[2021-07-11 18:05] Algalish commented on #171
Fixed in 17.0.6
@Natsirt21  I know it took too long but it is finally fixed!

[2021-07-11 18:05] #171 closed

[2021-07-11 18:06] Algalish commented on #170
This is fixed in 17.0.6

[2021-07-11 18:06] #170 closed

[2021-07-11 18:06] Algalish commented on #167
It does work now in V17

[2021-07-11 18:06] #167 closed

[2021-07-11 18:22] Algalish commented on #123
Fixed a long time ago

[2021-07-11 18:22] #123 closed

[2021-07-11 18:22] #121 closed

[2021-12-06 20:52] hippocratical opened #181 "Walls don't line up when zooped. They seem to be clipping slightly. Any fixes?"
[IMAGE](https://i.imgur.com/BZhxDke.jpg)
This only happens with walls.
Foundations work fine.
I've messed with the various settings and nothing fixes it.
Holding down P and adjusting offset just makes gaps between each wall piece.
Ideas?

[2021-12-07 21:52] log136 commented on #181
+1 this is happening to me too. quite annoying as building large walls is a great use for this mod.

[2021-12-17 07:54] dcbishop commented on #140
I wonder if it would be possible to add it to the press 'R' to Default/Zoop/Vertical menu

[2021-12-17 08:04] dcbishop opened #182 "Config menu doesn't open with latest testing build (16th Dec)"
**Describe the bug**
Config menu doesn't open when pressing M key.

* The mod is loaded and shows up.
* I have bound the map to Z (it seems to be M by default)
* The red arrow shows up on foundations (including the new concrete ones).
* The size can be changed with the arrow keys. H for hold works, etc...
* Autoconnect/extend works.
* I'm pressing the M key in build mode with the build gun pointed

[2022-01-29 23:02] jdphenix commented on #181
Disabling "Soft Clipping for Everything" (another unrelated mod) fixed this for me.

[2022-02-21 00:49] d-hey commented on #166
Having the same issue. Also with other buildings when placing a splitter very close to the input.

[2022-04-02 04:59] TheElementalOfDestruction commented on #94
I occasionally get similar issues with smart if I am doing a build of some sort, am holding one of the modifier keys, and accidentally bump right click. Does not appear to happen every time, as attempting to exactly repeat the problem has not produced a crash.

When the crash came up, I saw mention of "smartfoundation" in the traceback, and it had something to do with the holograms and a nullptr a

[2022-04-03 16:00] Krzeszny opened #183 "Auto-connect can't handle symmetry"
**Describe the bug**
With 2 outer lines of machines (smelters, constructors, etc) facing inwards into at least 2 lines of mergers, Smart! connects each Smelter to 2 Mergers at once.

**To Reproduce**
Steps to reproduce the behavior:
1. Place 2 smelters/constructors on the sides facing inwards, with enough space for 2 mergers on the inside
2. Use Smart! to place 2 mergers on the inside
3. Each mach

[2022-04-04 11:01] Krzeszny opened #184 "Misaligned conveyor belts between splitters/mergers"
**Describe the bug**
For some reason, belts don't connect splitters or mergers properly in some situations such as this one. It doesn't matter if Auto-Connect to buildings is on or off.

**To Reproduce**
Steps to reproduce the behavior:
1. Place splitters and mergers like in the screenshots
2. Whether auto-connect is turned on or off, you should see the bug

**Screenshot of the mod's configuration

[2022-04-19 01:05] Krzeszny opened #185 "Reproducible crash caused by extending a building connected to a Modular Load Balancer"
**Describe the bug**
The game crashes whem attempting to extend a building connected to an MLB

**To Reproduce**
0. Install the mod Modular Load Balancers
1. Connect 1 or more Modular Load Balancer to an extendable building (any way around, input or output)
2. Try to extend that building
3. Crash

**On the attached save**:
1. Dismantle mode
2. Press MMB on the rightmost refinery in front of you

*

[2022-06-30 09:29] masayoshi-louis commented on #159
please also remove the support for MK++ water extractors from Smart!

[2022-07-13 22:14] #185 closed

[2022-07-13 22:14] Algalish commented on #184
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:14] #184 closed

[2022-07-13 22:14] Algalish commented on #183
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:14] #183 closed

[2022-07-13 22:15] #182 closed

[2022-07-13 22:15] Algalish commented on #181
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:15] #181 closed

[2022-07-13 22:15] Algalish commented on #178
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:15] Algalish commented on #176
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:15] #176 closed

[2022-07-13 22:15] Algalish commented on #175
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:15] #175 closed

[2022-07-13 22:15] Algalish commented on #174
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:15] #174 closed

[2022-07-13 22:15] Algalish commented on #172
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:15] Algalish commented on #166
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:15] #166 closed

[2022-07-13 22:15] Algalish commented on #163
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:15] #163 closed

[2022-07-13 22:16] Algalish commented on #169
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:16] #169 closed

[2022-07-13 22:16] Algalish commented on #156
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:16] #156 closed

[2022-07-13 22:16] Algalish commented on #155
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:16] Algalish commented on #154
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:16] #154 closed

[2022-07-13 22:16] Algalish commented on #153
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:16] #153 closed

[2022-07-13 22:16] Algalish commented on #149
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:16] #149 closed

[2022-07-13 22:16] Algalish commented on #146
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:16] #146 closed

[2022-07-13 22:16] Algalish commented on #140
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:16] #140 closed

[2022-07-13 22:16] Algalish commented on #137
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:16] #137 closed

[2022-07-13 22:16] Algalish commented on #136
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:16] #136 closed

[2022-07-13 22:16] Algalish commented on #134
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:16] #134 closed

[2022-07-13 22:16] Algalish commented on #132
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:16] #132 closed

[2022-07-13 22:16] Algalish commented on #130
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:16] #130 closed

[2022-07-13 22:19] Algalish commented on #88
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:19] #88 closed

[2022-07-13 22:19] #89 closed

[2022-07-13 22:19] Algalish commented on #91
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:19] #91 closed

[2022-07-13 22:19] Algalish commented on #92
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:19] Algalish commented on #93
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:19] Algalish commented on #94
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:19] #94 closed

[2022-07-13 22:19] Algalish commented on #97
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:19] #97 closed

[2022-07-13 22:19] Algalish commented on #101
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:19] #101 closed

[2022-07-13 22:19] Algalish commented on #103
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:20] #103 closed

[2022-07-13 22:20] Algalish commented on #104
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:20] #104 closed

[2022-07-13 22:20] Algalish commented on #116
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:20] #116 closed

[2022-07-13 22:20] Algalish commented on #112
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:20] #112 closed

[2022-07-13 22:20] Algalish commented on #109
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:20] #109 closed

[2022-07-13 22:20] Algalish commented on #108
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:20] #108 closed

[2022-07-13 22:21] Algalish commented on #82
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:21] #82 closed

[2022-07-13 22:21] Algalish commented on #81
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:21] #81 closed

[2022-07-13 22:21] Algalish commented on #80
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:21] #80 closed

[2022-07-13 22:21] Algalish commented on #72
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:21] #72 closed

[2022-07-13 22:21] Algalish commented on #70
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:21] #70 closed

[2022-07-13 22:21] Algalish commented on #69
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:21] #69 closed

[2022-07-13 22:21] Algalish commented on #67
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:21] #67 closed

[2022-07-13 22:21] Algalish commented on #65
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:21] #65 closed

[2022-07-13 22:21] Algalish commented on #86
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:21] #86 closed

[2022-07-13 22:22] Algalish commented on #41
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:22] #41 closed

[2022-07-13 22:22] Algalish commented on #45
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:22] #45 closed

[2022-07-13 22:22] Algalish commented on #52
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:22] #52 closed

[2022-07-13 22:22] Algalish commented on #58
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:22] #58 closed

[2022-07-13 22:22] Algalish commented on #59
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:22] #59 closed

[2022-07-13 22:22] Algalish commented on #60
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:22] #60 closed

[2022-07-13 22:22] Algalish commented on #64
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:22] #64 closed

[2022-07-13 22:22] Algalish commented on #107
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:22] #107 closed

[2022-07-13 22:23] Algalish commented on #119
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:23] #119 closed

[2022-07-13 22:23] Algalish commented on #120
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:23] #120 closed

[2022-07-13 22:23] Algalish commented on #125
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:23] #125 closed

[2022-07-13 22:23] Algalish commented on #126
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:23] #126 closed

[2022-07-13 22:24] Algalish commented on #128
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:24] #128 closed

[2022-07-13 22:24] Algalish commented on #129
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:24] #129 closed

[2022-07-13 22:24] Algalish commented on #39
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:24] #39 closed

[2022-07-13 22:24] Algalish commented on #32
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:24] #32 closed

[2022-07-13 22:24] Algalish commented on #19
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:24] #19 closed

[2022-07-13 22:25] Algalish commented on #15
I am closing all the open issues because old issues may not require any action.
But if this is still something you need or if this is something that is not working in the latest version in U6 - please reopen the issue and I will look into it.
Thank you

[2022-07-13 22:25] #15 closed